<!DOCTYPE HTML>
<html>

<% include partials/index_Header.ejs %>

<body>
<div class="container">
    <div class="row" data-gutter="60">
        <h3><a href="/">Home</a></h3>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h3><span class="label label-danger">Phương thức vận chuyển</span></h3>
        </div>
        <div class="col-md-8">
            <label class="checkbox-inline">
                <input type="checkbox" class="phuongthucvanchuyen" id="vanchuyen0" value="ghtk"> Giao hàng tiết kiệm
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" class="phuongthucvanchuyen" id="vanchuyen1" value="bd"> Bưu điện (VN POST)
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" class="phuongthucvanchuyen" id="vanchuyen2" value="vtp"> Viettel POST
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" class="phuongthucvanchuyen"  id="vanchuyen3" value="ghn"> Giao Hàng Nhanh
            </label>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-8">
            <h3><span class="label label-danger">Phương thức thanh toán</span></h3>
        </div>
        <div class="col-md-8">
            <label class="checkbox-inline">
                <input type="checkbox" class="phuongthucthanhtoan" id="0" value="tm">Tiền mặt
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" class="phuongthucthanhtoan" id="1" value="COD">COD(Giao hàng thu tiền)
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" class="phuongthucthanhtoan" id="2" value="ck">Chuyển khoản
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" class="phuongthucthanhtoan"  id="3" value="ttd">Thẻ tín dụng
            </label>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-10">
            <h3><span class="label label-danger">Đơn hàng sẽ được miễn phí vận chuyển khi giá sau khuyến mãi lớn hơn:</span></h3>
        </div>
        <div class="col-md-3">
            <input class="form-control" id="freeship">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-10">
            <h3><span class="label label-danger">Dưới số này đơn hàng có phí dịch vụ vận chuyển mặc định là:</span></h3>
        </div>
        <div class="col-md-3">
            <input class="form-control" id="shipdefault">
        </div>
    </div>
    <div class="row">
        <br>
        <div class="col-md-8">
            <button class="btn btn-danger" id='' onclick="Update()">Update Setting Shop</button>
        </div>
    </div>
    <br>
    <div class="row">
        <button class="btn btn-danger" id='InsertBtn' onclick="insert()">Add Category</button>
    </div>

    <br/>


    <div class="row" id='rowInsert' style="display: none">
        <div class="row">
            <h4 class="col-md-4">

                Thư mục </h4>

            <h4 class="col-md-4">

                Nhóm Sản Phẩm </h4>


        </div>

        <div class="row">
            <form action='/PetMart/add-category' class="fileupload" method='POST' enctype="multipart/form-data">
                <div class="col-md-4">

                    <input type="text" class="form-control" name="newFolder" value="">


                </div>
                <div class="col-md-4"><input class="form-control" name="newCat" value=""></div>


                <button class="btn btn-danger" id='Ok' style="display: none" type='submit'>Ok</button>
            </form>
        </div>


    </div>

    <div class="row">

        <div class="row">
            <div class="col-md-4">
                <h4>Thư Mục</h4>
            </div>
            <div class="col-md-4">
                <h4>Nhóm Sản Phẩm</h4>
            </div>


        </div>
        <% for(i = 0;i < result.length;i++){ %>

        <div class="row">
            <%if(result[i].folder_name.trim() == 'Tin Tức' || result[i].folder_name.trim() == 'VIP'|| result[i].folder_name.trim() == 'Xem Tuổi'|| result[i].folder_name.trim() == 'Khuyến Mãi'){%>
                <div class="col-md-4">
                    <input class="form-control" id='folder<%= result.folder_id %>'
                           value='<%= result[i].folder_name %>' disabled></input>
                </div>
                <div class="col-md-4">
                    <input class="form-control" id='cat<%= result[i].cat_id %>'
                           value='<%= result[i].cat_name %>' disabled></input>
                </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">
                <a class="btn btn-success form-control"
                   href="/maintenance-prd/<%= result[i].cat_name %>">Products</a>
            </div>
            <% } else {%>
                <div class="col-md-4">
                    <input class="form-control" id='folder<%= result.folder_id %>'
                           value='<%= result[i].folder_name %>'></input>
                </div>
                <div class="col-md-4">
                    <input class="form-control" id='cat<%= result[i].cat_id %>'
                           value='<%= result[i].cat_name %>'></input>
                </div>
            <div class="col-md-1">
                <button class="form-control" onclick="OK(<%=result[i].cat_id%>)">OK</button>
            </div>
            <div class="col-md-1">
                <a class="btn btn-success form-control"
                   href="/maintenance-prd/<%=result[i].cat_name%>">Products</a>
            </div>
            <div class="col-md-1">
                <a class="btn btn-danger form-control"
                   href="/delete-cat/<%=result[i].cat_name%>">Xóa</a>
            </div>
            <% } %>

        </div>

        <% } %>

    </div>

    <div class="row">
        <div class="row">
            <div class="col-md-10">
                <h3><span class="label label-danger">Sắp xếp Header: </span></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h4>Tên</h4>
            </div>
            <div class="col-md-4">
                <h4>Chỉ Mục</h4>
            </div>


        </div>
        <% for(i = 0;i < tree.length;i++){ %>
        <div class="row">
                    <div class="col-md-4">
                        <input class="form-control" id='folder-name<%= tree[i].folder_id %>'
                               value='<%= tree[i].folder_name %>' ></input>
                    </div>
                    <div class="col-md-2">
                        <input class="form-control" id='index<%= tree[i].folder_id %>'
                               value='<%= tree[i].index %>' ></input>
                    </div>
                    <div class="col-md-1">
                        <button class="form-control" onclick="EditIndex(<%= tree[i].folder_id %>)">OK</button>
                    </div>
        </div>

        <% } %>

    </div>
    <div class="gap"></div>
</div>


<script type="text/javascript" src="assets/js/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="assets/js/animated-headline.js"></script>
<script type="text/javascript" src="assets/js/menu.js"></script>
<script type="text/javascript" src="assets/js/modernizr.js"></script>
<script type="text/javascript" src="assets/js/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="assets/js/jquery.animsition.min.js"></script>
<script type="text/javascript" src="assets/js/init.js"></script>
<script type="text/javascript" src="assets/js/main.js"></script>
<script type="text/javascript" src="assets/js/smooth-scroll.js"></script>
<script type="text/javascript" src="assets/js/numscroller.js"></script>
<script type="text/javascript" src="assets/js/wow.min.js"></script>
<script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>
<script>
    var transportMethod = "<%=setting[0].transportMethod%>".split(";");
    var paymentMethod = "<%=setting[0].paymentMethod%>".split(";");
    var freeShip = "<%=setting[0].freeShip%>";
    var defaultShip = "<%=setting[0].defaultShip%>";
    for (i=0; i<transportMethod.length; i++){
        if (transportMethod[i] == "ghtk"){
            document.getElementById("vanchuyen0").checked = true;
        }
        if (transportMethod[i] == "bd"){
            document.getElementById("vanchuyen1").checked = true;
        }
        if (transportMethod[i] == "vtp"){
            document.getElementById("vanchuyen2").checked = true;
        }
        if (transportMethod[i] == "ghn"){
            document.getElementById("vanchuyen3").checked = true;
        }
    }
    for (i=0; i<paymentMethod.length; i++){
        if (paymentMethod[i] == "tm"){
            document.getElementById("0").checked = true;
        }
        if (paymentMethod[i] == "COD"){
            document.getElementById("1").checked = true;
        }
        if (paymentMethod[i] == "ck"){
            document.getElementById("2").checked = true;
        }
        if (paymentMethod[i] == "ttd"){
            document.getElementById("3").checked = true;
        }
    }
    document.getElementById("freeship").value = freeShip;
    document.getElementById("shipdefault").value = defaultShip;
    $("form").submit(function (evt) {
        evt.preventDefault();
        var formData = new FormData($(this)[0]);
        $.ajax({
            url: './PetMart/add-category',
            type: 'POST',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: function (response) {
                location.reload();
            }
        });
        return false;
    });

    function insert() {

        document.getElementById('rowInsert').style.display = 'block';
        document.getElementById('InsertBtn').style.display = 'none';
        document.getElementById('Ok').style.display = 'block';
    }

    function OK(index) {
        var formdata = new FormData();
        formdata.append('name', document.getElementById('cat'+index).value);
        formdata.append('id', index);
        $.ajax({
            url: './PetMart/update-category',
            type: 'POST',
            data: formdata,
            async: false,
            cache: false,
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: function (response) {
                location.reload();
            }
        });
    }
    function EditIndex(index) {
        var formdata = new FormData();
        formdata.append('index', document.getElementById('index'+index).value);
        formdata.append('name', document.getElementById('folder-name'+index).value);
        formdata.append('id', index);
        $.ajax({
            url: './ajax/update-treefolder/'+index,
            type: 'POST',
            data: formdata,
            async: false,
            cache: false,
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: function (response) {
                location.reload();
            }
        });
    }
    function Update() {
        var formdata = new FormData();
        var obj =$("#name");

        var vanchuyen = '';
        var thanhtoan = '';
        var freeship = '';
        var shipdefault = '';
        var vanchuyens = document.getElementsByClassName("phuongthucvanchuyen");
        for (var i = 0; i < vanchuyens.length; i++) {
            if(vanchuyens[i].checked){
                vanchuyen +=vanchuyens[i].value +";";
            }
        }
        var thanhtoans = document.getElementsByClassName("phuongthucthanhtoan");
        for (var i = 0; i < thanhtoans.length; i++) {
            if(thanhtoans[i].checked){
                thanhtoan +=thanhtoans[i].value +";";
            }
        }
        freeship = document.getElementById("freeship").value;
        shipdefault = document.getElementById("shipdefault").value;
        formdata.append('vanchuyen', vanchuyen);
        formdata.append('thanhtoan', thanhtoan);
        formdata.append('freeship', freeship);
        formdata.append('shipdefault', shipdefault);
        $.ajax({
            url: './ajax/updateSettingShop',
            type: 'POST',
            data: formdata,
            async: false,
            cache: false,
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: function (response) {
                location.reload();
            }
        });
    }


</script>
</div>
</body>

<% include partials/index_Footer.ejs %>
</html>


