<!DOCTYPE HTML>
<html>
<% include partials/index_Header.ejs %>
<body>

<!-- FACEBOOK WIDGET -->
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<!-- /FACEBOOK WIDGET -->
<div class="global-wrap">
    <div class="gap"></div>
    <div class="container">
        <div class="row">
            <ol class="breadcrumb">
                <a href="/"><i class="icon fa fa-home"></i> Home</a> / <a href="/maintenance">Account Maintenance</a> /
                <a href="#"><%= user[0].firstname%></a>
            </ol>
            <% if (data.status == 'success'){ %>
            <div class="alert alert-success">
                <strong>Success!</strong>
            </div>
            <% } %>
        </div>
        <div class="row" data-gutter="60">
            <div class="col-md-12">
                <h2><span class="label label-info center-block">Chỉnh sửa tài khoản</span></h2>

                <form action="/save-account" method="post" id="frmId" >
                    <input class="form-control" type="text" name="id" id="id" value="<%= user[0].user_id %>" required
                           style="display: none">
                    <div class="row" style="display: none">
                        <div class="form-group form-group-icon-left col-md-6"><i
                                    class="fa fa-user input-icon input-icon-show"></i>
                            <label>Tên tài khoản</label>
                            <input class="form-control" type="text" name="username" id="username"
                                   value="<%= user[0].username %>" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group form-group-icon-left col-md-3">
                        </div>
                        <div class="form-group form-group-icon-left col-md-6"><i
                                    class="fa fa-user input-icon input-icon-show"></i>
                            <label>Tên</label>
                            <input class="form-control" type="text" name="fname" id="fname"
                                   value="<%= user[0].firstname %>" required>
                        </div>

                    </div>


                        <div class="row">
                            <div class="form-group form-group-icon-left col-md-3">
                            </div>
                            <div class="col-md-6">
                                <label>Sinh Ngày</label>
                                <input class="form-control"  id = 'dob' name = "dob" type = 'date' value = '' required>
                            </div>

                        </div>

                    <div class="row" >
                        <div class="form-group form-group-icon-left col-md-3">
                        </div>
                        <div class="col-md-6">
                            <label>Giới Tính</label>
                            <select class="form-control" id = "gender" name = "gender">
                                <option value = "M">Quý Ông</option>
                                <option value = "F">Quý Bà</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group form-group-icon-left col-md-3">
                        </div>
                        <div class="form-group form-group-icon-left col-md-6" style="display: none"><i
                                    class="fa fa-user input-icon input-icon-show"></i>
                            <label>Email</label>
                            <input class="form-control" type="text" name="email" id="email" value="<%= user[0].email %>"
                                   >
                        </div>
                        <div class="form-group form-group-icon-left col-md-6"><i
                                    class="fa fa-user input-icon input-icon-show"></i>
                            <label>Điện thoại</label>
                            <input class="form-control" type="text" name="phone" id="phone" value="<%= user[0].phone %>"
                                   required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group form-group-icon-left col-md-3">
                        </div>
                    <div class="form-group form-group-icon-left col-md-6"><i class="fa fa-user input-icon input-icon-show"></i>
                        <label>Địa chỉ</label>
                        <input class="form-control" type="text" name="addr" id="addr"
                               value="<%= user[0].address==null?"":user[0].address %>" required>
                    </div>
                    </div>
                    <div class="row" style="display: none">
                        <div class="form-group form-group-icon-left col-md-3">
                        </div>
                        <div class="form-group form-group-icon-left col-md-6"><i
                                    class="fa fa-user input-icon input-icon-show"></i>
                            <label>Thành phố</label>
                            <input class="form-control" type="text" name="city" id="city"
                                   value="<%= user[0].city==null?"":user[0].city %>" >
                        </div>

                        <div class="form-group form-group-icon-left col-md-6"><i
                                    class="fa fa-user input-icon input-icon-show"></i>
                            <label>Quốc gia</label>
                            <input class="form-control" type="text" name="country" id="country"
                                   value="<%= user[0].country==null?"":user[0].country %>" >
                        </div>
                    </div>
                    <% if(type == '1'){ %>
                    <div class="form-group form-group-icon-left col-md-3">
                    </div>
                    <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
                        <label>User Type</label>
                        <select name="type" id="type">
                            <option value="2" name="type2" id="type2">User</option>
                            <option value="1" name="type1" id="type1">Admin</option>


                        </select>
                    </div>
                    <div class="row">
                        <div class="form-group form-group-icon-left col-md-3">
                        </div>
                        <div class="form-group form-group-icon-left col-md-6"><i class="fa fa-user input-icon input-icon-show"></i>
                            <label>Reset mật khẩu thành: </label>
                            <input class="form-control" type="text" name="password" id="password"
                                   value="" >
                        </div>
                    </div>
                    <% } %>
                    <div class="row">
                        <div class="form-group form-group-icon-left col-md-3">
                        </div>
                        <div class="form-group form-group-icon-left col-md-6"><i class="fa fa-user input-icon input-icon-show"></i>
                            <label>Đổi mật khẩu thành: </label>
                            <input class="form-control" type="password" name="newpassword" id="newpassword"
                                   value="" >
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group form-group-icon-left col-md-3">
                        </div>
                        <div class="form-group form-group-icon-left col-md-6"><i class="fa fa-user input-icon input-icon-show"></i>
                            <label>Nhập lại mật khẩu mới: </label>
                            <input class="form-control" type="password" name="newpasswordconf" id="newpasswordconf"
                                   value="" >
                        </div>
                    </div>
                    <input class="btn btn-primary center-block" type = "submit" value="Cập Nhật">

                </form>


            </div>
        </div>
    </div>

    <div class="gap"></div>

    <!--<script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/slimmenu.js"></script>
    <script src="/js/bootstrap-datepicker.js"></script>
    <script src="/js/bootstrap-timepicker.js"></script>
    <script src="/js/nicescroll.js"></script>
    <script src="/js/dropit.js"></script>
    <script src="/js/ionrangeslider.js"></script>
    <script src="/js/icheck.js"></script>
    <script src="/js/fotorama.js"></script>
    <script src="/js/typeahead.js"></script>
    <script src="/js/card-payment.js"></script>
    <script src="/js/magnific.js"></script>
    <script src="/js/owl-carousel.js"></script>
    <script src="/js/fitvids.js"></script>
    <script src="/js/tweet.js"></script>
    <script src="/js/countdown.js"></script>
    <script src="/js/gridrotator.js"></script>
    <script src="/js/custom.js"></script>-->
</div>
<script type="text/javascript">
    var effdate = '<%=user[0].dob%>';
    var newEffdate = effdate.substring(0,4)+'-'+effdate.substring(4,6)+'-'+effdate.substring(6,8);
    document.getElementById('dob').value = newEffdate;
    <% if(type == '1'){ %>
    document.getElementById('type').value = '<%=user[0].type_id%>';
    <%}%>
    document.getElementById('gender').value = '<%=user[0].gender%>';
    $('#newpasswordconf').keyup(function () {
        $(".error").remove();
        if($('#newpasswordconf').val() != ''){
            if( $("#newpassword").val()!=  $("#newpasswordconf").val()){
                $("#newpasswordconf").after("<label class='error' style='color: red'>Mật khẩu xác nhận không khớp</label>");
                $("#frmId .btn").attr('disabled', 'disabled');
            } else {
                $("#frmId .btn").removeAttr('disabled');
            }
        }
    });

    $(document).ready(function () {
        $('#email').keyup(function () {
            $(".error").remove();
            var obj = $(this);

            $.ajax({
                type: "POST",
                url: "./ajax/checkEmail",
                data: "mode=check_email&email=" + obj.val(),
                success: function (msg) {
                    //alert(msg);
                    data = msg;
                    if (data.status == 'exist') {
                        obj.after("<label class='error'>Email Id Aleady Exist</label>");
                        $("#frmId .btn").attr('disabled', 'disabled');
                    }
                    else {
                        $("#frmId .btn").removeAttr('disabled');
                    }
                }
            });
        });
        $('#frmId').submit(function () {
            if ($(this).find('.error').length == 0) {
                return true;
            }
            else {
                return false;
            }
        });
    });
    $(document).ready(function () {
        $('#phone').keyup(function () {
            $(".error").remove();
            var obj = $(this);
            if(obj.val().trim() != '<%=user[0].phone%>'){
                $.ajax({
                    type: "POST",
                    url: "./ajax/checkUser",
                    data: "mode=check_phone&username=" + obj.val(),
                    success: function (msg) {
                        //alert(msg);
                        data = msg;
                        if (data.status == 'exist') {
                            obj.after("<label class='error'>Số điện thoại này đã được đăng kí</label>");
                            $("#frmId .btn").attr('disabled', 'disabled');
                        }
                        else {
                            $("#frmId .btn").removeAttr('disabled');
                        }

                        if (obj.val().length > 11) {
                            obj.after("<label class='error'>Số điện thoại không hợp lệ</label>");
                            $("#frmId .btn").attr('disabled', 'disabled');
                        }
                        else {
                            $("#frmId .btn").removeAttr('disabled');
                        }
                    }
                });
            }

            document.getElementById('username').value = obj.val();
        });
        $('#frmId').submit(function () {
            if ($(this).find('.error').length == 0) {
                return true;
            }
            else {
                return false;
            }
        });
    });
    $(document).ready(function () {
        $('#username').keyup(function () {
            $(".error").remove();
            var obj = $(this);
            $.ajax({
                type: "POST",
                url: "./ajax/checkUser",
                data: "mode=check_email&username=" + obj.val(),
                success: function (msg) {
                    //alert(msg);
                    data = msg;
                    if (data.status == 'exist') {
                        obj.after("<label class='error'>User Name Aleady Exist</label>");
                        $("#frmId .btn").attr('disabled', 'disabled');
                    }
                    else {
                        $("#frmId .btn").removeAttr('disabled');
                    }
                }
            });
        });
        $('#frmId').submit(function () {
            if ($(this).find('.error').length == 0) {
                return true;
            }
            else {
                return false;
            }
        });
    });
</script>
</body>
<% include partials/index_Footer.ejs %>


</html>

