<!DOCTYPE HTML>
<html>

<head>
    <title>ACD</title>


    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="Template, html, premium, themeforest" />
    <meta name="description" content="Traveler - Premium template for travel companies">
    <meta name="author" content="Tsoy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'>
    <!-- /GOOGLE FONTS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/mystyles.css">
    <script src="js/modernizr.js"></script>


</head>

<body>

<!-- FACEBOOK WIDGET -->
<div id="fb-root"></div>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<!-- /FACEBOOK WIDGET -->
<div class="global-wrap">
    <header id="main-header">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <a class="logo" href="/">
                            <img src="img/ACD_Final_Logo_2.png" alt="Image Alternative text" title="Image Title" />
                        </a>
                    </div>
                    <div class="col-md-3 col-md-offset-2">
                        <!-- <form class="main-header-search">
                             <div class="form-group form-group-icon-left">
                                 <i class="fa fa-search input-icon"></i>
                                 <input type="text" class="form-control">
                             </div>
                         </form>-->
                    </div>
                    <div class="col-md-4">
                        <div class="top-user-area clearfix">
                            <ul class="top-user-area-list list list-horizontal list-border">
                                <li class="top-user-area-avatar">
                                </li>
                                <li><a href="/logout">Sign Out</a>
                                </li>
                                <li class="nav-drop"><a href="#">USD $<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a>
                                    <ul class="list nav-drop-menu">
                                        <li><a href="#">EUR<span class="right">€</span></a>
                                        </li>
                                        <li><a href="#">GBP<span class="right">£</span></a>
                                        </li>
                                        <li><a href="#">JPY<span class="right">円</span></a>
                                        </li>
                                        <li><a href="#">CAD<span class="right">$</span></a>
                                        </li>
                                        <li><a href="#">AUD<span class="right">A$</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="top-user-area-lang nav-drop">
                                    <a href="#">
                                        <img src="img/flags/32/uk.png" alt="Image Alternative text" title="Image Title" />ENG<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i>
                                    </a>
                                    <ul class="list nav-drop-menu">
                                        <li>
                                            <a title="German" href="#">
                                                <img src="img/flags/32/de.png" alt="Image Alternative text" title="Image Title" /><span class="right">GER</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Japanise" href="#">
                                                <img src="img/flags/32/jp.png" alt="Image Alternative text" title="Image Title" /><span class="right">JAP</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Italian" href="#">
                                                <img src="img/flags/32/it.png" alt="Image Alternative text" title="Image Title" /><span class="right">ITA</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="French" href="#">
                                                <img src="img/flags/32/fr.png" alt="Image Alternative text" title="Image Title" /><span class="right">FRE</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Russian" href="#">
                                                <img src="img/flags/32/ru.png" alt="Image Alternative text" title="Image Title" /><span class="right">RUS</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Korean" href="#">
                                                <img src="img/flags/32/kr.png" alt="Image Alternative text" title="Image Title" /><span class="right">KOR</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>





    <div class="container">



        <form action = '/' method = 'get'>
            <h2>Filtered By </h2>
            <div class="booking-item-dates-change mb30">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group form-group-icon-left">
                            <label>Buyer : </label>
                            <input class="typeahead form-control" name = 'userflt' id = 'userflt' value=""  type="text" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group form-group-icon-left">
                            <label>Status : </label>
                            <select name="statusflt" id="statusflt">
                                <option value="none" selected>----Selected-----</option>
                                <option value="0" >Đã hủy</option>
                                <option value="1" >Đã Đặt Hàng</option>
                                <option value="2">Đã Xác Nhận</option>
                                <option value="3">Đang Giao Hàng</option>
                                <option value="4">Giao Hàng Thành Công</option>
                                <option value="5">Đã Thanh Toán</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-daterange" data-date-format="mm/dd/yyyy">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-hightlight"></i>
                                    <label>Create Date : </label>
                                    <input class="form-control" name="createflt" id="createflt" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <input class="btn btn-primary" value = 'Search' type = 'submit'></input>
                </div>
            </div>
            <br/>

        </form>
        <div class="row">

            <div class="col-md-12">
                <table>
                    <tr>
                       <!-- <td>
                            <a class="btn btn-primary" href="add-project">Add Project</a>
                        </td>-->
                        <td>
                            <div class="nav">
                                <ul class="slimmenu" id="slimmenu">
                                    <li><a href="/">Account</a>
                                        <ul>
                                            <li><a href="register">Create</a>
                                            </li>
                                            <li><a href="maintenance">Maintenance</a>
                                            </li>

                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="nav">
                                <ul class="slimmenu" id="slimmenu">
                                    <li><a href="/maintenance-cat">Category</a>

                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="nav">
                                <ul class="slimmenu" id="slimmenu">
                                    <li><a href="/">Product</a>
                                        <ul>
                                            <li><a href="create-prd">Create</a>
                                            </li>
                                            <li><a href="maintenance-prd">Maintenance</a>
                                            </li>

                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <!--<td>
                            <div class="nav">
                                <ul class="slimmenu" id="slimmenu">
                                    <li> <a href="noti-maintenance"  >Notifications</a>

                                    </li>
                                </ul>
                            </div>
                        </td>-->
                        <td>
                            <div class="nav">
                                <ul class="slimmenu" id="slimmenu">
                                    <li> <a href="promote-maintenance"  >Promotions</a>

                                    </li>
                                </ul>
                            </div>
                        </td>

                        <!--<td>
                            <div class="nav">
                                <ul class="slimmenu" id="slimmenu">
                                    <li><a href="/">Export Excel</a>
                                        <ul>
                                            <li><a href="export-excel/project">Project Detail</a>
                                            </li>

                                            <li>
                                                <a data-toggle="modal" data-target="#myModal" id = 'payment'>Task Payment</a>

                                            </li>

                                            <li>
                                                <a href="export-excel/project-payment">Project Payment</a>

                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                        </td>-->
                        <!--<td>
                            <a class="btn btn-primary" href="/show-task">Tasks</a>
                        </td>-->


                    </tr>

                </table>
            </div>
        </div>



        <br/>
        <div class="row">

            <div class="col-md-12">

                <ul class="booking-list">
                    </br>

                    <div class="row">
                        <div class="col-md-2">
                            <h4 class="booking-item-title">Title</h4>
                        </div>
                        <div class="col-md-2">
                            <h4 class="booking-item-title">User</h4>
                        </div>
                        <div class="col-md-2">
                            <h4 class="booking-item-title">Quantity</h4>
                        </div>
                        <div class="col-md-2">
                            <h4 class="booking-item-title">Status</h4>
                        </div>
                        <div class="col-md-2">
                            <h4 class="booking-item-title">Total</h4>
                        </div>
                        <div class="col-md-2">
                            <h4 class="booking-item-title">Created Date</h4>
                        </div>
                    </div>
                    <% for(i = 0;i < payments.length;i++){ %>


                    <li>
                        <a class="booking-item" href="/payment-detail?id=<%= payments[i].payment_id%>">
                            <div class="row">

                                <div class="row">
                                    <div class="col-md-2">
                                        <h5 class="booking-item-title"><%= payments[i].title %></h5>
                                    </div>
                                    <div class="col-md-2">
                                        <p class="booking-item-description">
                                            <%= payments[i].name +  ' (' + payments[i].email + ')'%>
                                        </p>
                                    </div>
                                    <div class="col-md-2">
                                        <p class="booking-item-description"> <%= payments[i].products %></p>
                                    </div>
                                    <div class="col-md-2">
                                        <p class="booking-item-description">
                                            <%if(payments[i].status_id == 0) {%>
                                                Đơn hàng đã được hủy
                                            <%} else if(payments[i].status_id == 1) {%>
                                                Đơn hàng được đặt
                                            <%} else if(payments[i].status_id == 2) {%>
                                                Đã xác nhận
                                            <%} else if(payments[i].status_id == 3) {%>
                                                Đang giao hàng
                                            <%} else  if(payments[i].status_id == 4) {%>
                                                Giao hàng thành công
                                            <%} else  if(payments[i].status_id == 5) {%>
                                                Đã thanh toán
                                            <%} %>
                                        </p>
                                    </div>
                                    <div class="col-md-2">
                                        <%= payments[i].total_after_promote%>

                                    </div>
                                    <div class="col-md-2">
                                        <p class="booking-item-description"><%=payments[i].date%></p>
                                    </div>

                                </div>

                            </div>
                        </a>
                    </li>
                    <% } %>


                </ul>

            </div>
        </div>
        <div class="gap"></div>
    </div>



    <footer id="main-footer">
        <div class="container">
            <div class="row row-wrap">

                <div class="col-md-3">
                    <h4>Texas - HQ: </h4>
                    <h5 class="text-color">Address: 2908 National Drive, Suite 100, Garland, TX 75041 </h5>
                    <h5 class="text-color">Phone: 469.573.4008</h5>
                    <h5 class="text-color">Fax:  972.278.2097</h5>


                </div>
                <div class="col-md-3">
                    <h4>Florida - Design:</h4>
                    <h5 class="text-color">Address: Miami, </h5>
                    <h5 class="text-color">Phone:  847.920.7235 </h5>
                    <h5 class="text-color">Fax:   972.278.2097</h5>


                </div>
                <div class="col-md-3">
                    <h4>California - Sales:</h4>
                    <h5 class="text-color">Address: San Jose, California </h5>
                    <h5 class="text-color">Phone: 469.573.4008</h5>
                    <h5 class="text-color">Fax:   972.278.2097</h5>


                </div>
                <div class="col-md-3">
                    <h4>China - NPI Center:</h4>
                    <h5 class="text-color">Address: Shanghai, China</h5>
                    <h5 class="text-color">Phone:  469.573.4008</h5>
                    <h5 class="text-color">Fax:  972.278.2097</h5>


                </div>

            </div>
            <div class="row row-wrap">
                <div class="col-md-4">
                    <h5 class="text-color">Email: sales@austincircuit.com </h5>
                    <h5><a href="http://www.austincircuitdesign.com/" class="text-color">http://www.austincircuitdesign.com/</a></h5>
                    <p>Open Monday - Friday 08:00am - 06:00pm</p>
                </div>

            </div>

        </div>
    </footer>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/slimmenu.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/bootstrap-timepicker.js"></script>
    <script src="js/nicescroll.js"></script>
    <script src="js/dropit.js"></script>
    <script src="js/ionrangeslider.js"></script>
    <script src="js/icheck.js"></script>
    <script src="js/fotorama.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="js/typeahead.js"></script>
    <script src="js/card-payment.js"></script>
    <script src="js/magnific.js"></script>
    <script src="js/owl-carousel.js"></script>
    <script src="js/fitvids.js"></script>
    <script src="js/tweet.js"></script>
    <script src="js/countdown.js"></script>
    <script src="js/gridrotator.js"></script>
    <script src="js/custom.js"></script>
    <script>

    </script>
</div>
</body>

</html>


