<!DOCTYPE html>
<html lang="en">
<% include partials/index_Header.ejs %>
<body>
<!-- PORTFOLIO -->
<div class="portfolio">
    <!-- /.container-fluid -->
    <!--     <div class="container-fluid" style="background-color: #1C1C1C;">
        <div id="menu">
                <ul>
                    <li> <a href="" data-filter=".folder1" style="color: #FFFFFF; border: 2px solid #FFFFFF"><h3>HOME</h3></a></li>
                    <li> <a href="" data-filter=".folder2" ><h3>TUỔI VÀ MỆNH</h3></a></li>
                    <li> <a href="" data-filter=".folder3" ><h3>PHONG THỦY</h3></a></li>
                    <li> <a href="" data-filter=".folder4" ><h3>ĐỜI SỐNG</h3></a></li>
                    <li> <a href="" data-filter=".folder5" ><h3>DỊCH VỤ</h3></a></li>
                </ul>
                <% if(type == 1){ %>
                <ul>
                    <li><a href="" data-filter=".admin"><h3>ADMINISTRATOR</h3></a></li>
                </ul>
                <%}%>
        </div>
    </div> -->

    <!-- Flickity HTML init -->
<div class="carousel js-flickity container-fluid" data-flickity-options='{ "autoPlay" : 4000 }'>
  <!-- images from unsplash.com -->
    <%for(var i = 0 ; i < promotions.length ; i++) {%>
        <div class="carousel-cell">
            <a href="/promotion-detail/<%=promotions[i].title.replace(/ /g,'-')%>"><img class="center-block" src="/assets/img/<%=promotions[i].image%>" alt="..."></a>
        </div>
    <%}%>
    <%if( promotions.length <= 1){%>
        <div class="carousel-cell">
            <a href="/app-phongthuy"><img class="center-block" src="assets/img/phongthuy.png" alt="..."></a>
        </div>
        <div class="carousel-cell">
            <a href="/maintenance-prd/VIP"><img class="center-block" src="assets/img/panelvip.png" alt="..."></a>
        </div>
    <%} else if (promotions.length == 2){%>
        <div class="carousel-cell">
            <a href="/maintenance-prd/VIP"><img class="center-block" src="assets/img/panelvip.png" alt="..."></a>
        </div>
    <%}%>
</div>

<br>
<br>
</div>
    
    <div class="container-fluid">

        <div class="container" id="mobile">
            <!-- all works -->
            <div class="row">
                <div class="row">
                    <%if(result != undefined){%>
                    <% for(j = 0;j < result.length;j++){ %>
                    <%if(result[j].cat_name != null){%>
                    <%page = parseInt(j/12+1);%>
                    <div class="col-xs-6 col-md-3 folder<%= result[j].folder_ids %> <%= page %>">
                        <a href="/product-detail/<%=result[j].cat_name.replace(" ", "-")%>/<%=result[j].name.replace(/ /g, '-')%>" >
                            <div class="product">
                                <%if(result[j].new == 'Y'){%>
                                <div class="col-xs-3 col-md-2" style="position: absolute; padding: 0px; z-index: 100;">
                                    <img class="shake img-responsive" src="/img/moi.svg">
                                </div>
                                <%}%>
                                <% if(result[j].prices > result[j].freeship || result[j].disct_prices > result[j].freeship){ %>
                                <div class="col-xs-3 col-md-2 col-md-offset-2 col-xs-offset-3" style="position: absolute; padding: 0px; right: 0px; z-index: 100;">
                                    <img class="img-responsive" src="/img/freeship.svg">
                                </div>
                                <%}%>
                                <div class="" style="position: relative; overflow: hidden; margin-bottom: 20px;">
                                    <img src="/assets/img/<%= result[j].image==null?result[j].image:result[j].image.split(";")[0]%>" class="img-responsive zoom center-block">

                                    <!-- <a href="/maintenance-prd?catflt=<%= result[j].cat_names %>&catId=<%= result[j].cat_ids %>" class="portfolio_item work-grid"style="width: 90%; color: #B28D34;font-weight: bold; margin-bottom: 10px;overflow: hidden; margin-top: 20px;">
                                            <button type="button" class="btn btn-default center-block">
                                                     Xem Thêm
                                            </button>
                                        </a> -->
                                </div>
                                <% if(result[j].prices != 0){ %>
                                <% if(result[j].disct_prices == null || result[j].disct_prices == 0){ %>
                                <div style="position: relative;" class="product_detail">
                                    <h3 class="font-custom font-mobile" style="margin: 0px;"><%= result[j].name %></h3>
                                    <h3 class="font-mobile"><a href="" style="font-weight: bold; color: #6b6b6c; float: left;">Từ&nbsp;</a></h3>
                                    <h3 class="font-custom currency font-mobile" style="color: red; font-weight: bold; margin-top: 10px;" id ="dictprice"><%= result[j].prices %></h3>
                                </div>
                                <% } else { %>
                                <div style="position: relative;" class="product_detail">
                                    <div class="col-md-3" style="position: absolute; padding: 0px; bottom: 0px; right: 0px;">
                                        <div style="position: relative;">
                                            <img src="/img/sale.svg">
                                            <h5 style="color: white; position: absolute; top: 0px; text-align: center; padding-left: 15px;">-<%=Math.round((1 - parseInt(result[j].disct_prices) / parseInt(result[j].prices)) * 100)%>%</h5>
                                        </div>
                                        <!-- <h4 style="color: white;">-39%</h4>   -->
                                    </div>
                                    <h3 class="font-custom font-mobile" style="margin: 0px;"><%= result[j].name %></h3>
                                    <h3 class="font-mobile"><a href="" style="font-weight: bold; color: #6b6b6c; float: left;">Từ&nbsp;</a></h3>
                                    <h3 class="font-custom currency font-mobile" style="color: red; font-weight: bold; margin-top: 10px;" id ="dictprice"><%= result[j].disct_prices %></h3>
                                    <h4 class="currency font-mobile" style="text-decoration: line-through; color: #6b6b6c; margin: 0px;"><%= result[j].prices %></h4>
                                </div>
                                <% } %>
                                <%} else {%>
                                <h3 class="font-custom product_detail" style="margin: 0px;"><%= result[j].name %></h3>
                                <%}%>
                            </div>
                        </a>
                        <%if (type == 1){%>
                        <div class="row">
                            <div class="col-xs-3 col-md-3">
                                <a class="btn btn-primary" href="/edit-product/<%=result[j].name.replace(/ /g, '-')%>">Edit</a>
                            </div>

                        </div>
                        <%}%>
                    </div>
                    <%}%>

                    <% } %>
                    <%}%> 

                </div>
            </div>
            <!-- all works end -->
            <!-- Modal -->
            <br>

        </div>
    </div>
    <!-- end container -->

</div>

<!-- portfolio -->

<!-- SCRIPTS -->
<script type="text/javascript" src="assets/js/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="assets/js/animated-headline.js"></script>
<script type="text/javascript" src="assets/js/menu.js"></script>
<script type="text/javascript" src="assets/js/modernizr.js"></script>
<script type="text/javascript" src="assets/js/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="assets/js/jquery.animsition.min.js"></script>
<script type="text/javascript" src="assets/js/init.js"></script>
<script type="text/javascript" src="assets/js/main.js"></script>
<script type="text/javascript" src="assets/js/smooth-scroll.js"></script>
<script type="text/javascript" src="assets/js/numscroller.js"></script>
<script type="text/javascript" src="assets/js/wow.min.js"></script>
<script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>
<script>

</script>
<script type="text/javascript">
    $(window).load(function () {
        new WOW().init();

        // initialise flexslider
        $('.flexslider').flexslider({
            animation: "fade",
            directionNav: true,
            controlNav: false,
            keyboardNav: true,
            slideToStart: 0,
            animationLoop: true,
            pauseOnHover: false,
            slideshowSpeed: 4000,
        });

        smoothScroll.init();

        // initialize isotope
        var $container = $('.portfolio_container');
        $container.isotope({
            filter: '*',
        });

        $('.portfolio_filter a').click(function () {
            $('.portfolio_filter .active').removeClass('active');
            $(this).addClass('active');

            var selector = $(this).attr('data-filter');
            $container.isotope({
                filter: selector,
                animationOptions: {
                    duration: 500,
                    animationEngine: "jquery"
                }
            });
            return false;
        });
    });
</script>
<script type="text/javascript">
    var currents = document.getElementsByClassName("currency");
    var decimals = 0;
    for (i = 0; i < currents.length; i++) {
        var pnumber = currents[i].innerHTML;
        if (isNaN(pnumber)) {
            result = 0
        }
        ;
        if (pnumber == '') {
            result = 0
        }
        ;
        var snum = new String(pnumber);
        var result = '';
        j = snum.length - 1;
        dem = 1;
        while (j >= 0) {
            if (dem % 4 != 0) {
                result = snum[j] + result;
                j--;
                dem++;
            } else {
                result = '.' + result;
                dem = 1;
            }
        }
        if (currents[i].id == "dictprice") {
            currents[i].innerHTML = result;
        } else {
            currents[i].innerHTML = "&nbsp;" + result + "&nbsp";
        }

    }

</script>
</body>

<% include partials/index_Footer.ejs %>
</html>