<!DOCTYPE html>
<html lang="en">
<% include partials/index_Header.ejs %>
<body>
<div class="container" id="mobile">
    <div class="container-fuild solid-content">
        <h3>Thông tin sản phẩm</h3>

        <div id="cartdetail" class="row">
            <table class="table table-bordered center-block" style="table-layout: fixed; width: 95%;">
                <thead>
                <th class="text-right" style="text-align: center;"><h3>Tên sản phẩm</h3></th>
                <th class="text-right" style="text-align: center;"><h3>Size</h3></th>
                <th class="text-right" style="text-align: center;"><h3>Giá sản phẩm</h3></th>
                <th class="text-right" style="text-align: center;"><h3>Số Lượng</h3></th>
                <th class="text-right" style="text-align: center;"><h3>Thành Tiền</h3></th>
                <!-- <td ><h4 style="text-align: center;">Size</h4></td>
                <td class="text-right"><h4 style="text-align: center;"></h4></td>
                <td class="text-right"><h4 style="text-align: center;"></h4></td>
                <td class="text-right"><h4 style="text-align: center;"></h4></td> -->
                </thead>
                <% for (var i = 0; i < result.length; i++) { %>
                <tbody>
                <% for (var j = 0; j < result[i].sizes.split(';').length; j++) { %>
                <tr>
                    <td class="text-center" style="display: none">
                        <input id="id-input" name = "id-input" value = "<%=result[i].product_id.split(';')[j]%>">
                        <!-- <input id='size_id' class="booking-item-title size_id_header"
                                   style="text-align: center; background-color: transparent" disabled
                                   value="<%= result[i].name %>"></input> -->
                    </td>
                    <td class="text-center" width="20%">
                        <h3><%= result[i].name %></h3>
                        <!-- <input id='size_id' class="booking-item-title size_id_header"
                                   style="text-align: center; background-color: transparent" disabled
                                   value="<%= result[i].name %>"></input> -->
                    </td>
                    <td class="text-center" width="10%">
                        <h3><%= result[i].sizes.split(';')[j] %></h3>
                        <!-- <input id='size_id' class="booking-item-title size_id_header"
                                   style="text-align: center; background-color: transparent" disabled
                                   value="<%= result[i].sizes.split(';')[j] %>"></input> -->
                    </td>

                    <td class="text-center" width="30%">
                        <% if(result[i].discount_prices == null || result[i].discount_prices.split(';')[j] == null || result[i].discount_prices.split(';')[j] == '0' || result[i].discount_prices.split(';')[j].trim() == '' ) { %>

                        <h3 style=" text-align: center"><font
                                    color="black"><%= result[i].prices.split(';')[j] %> </font></h3>
                        <% }else { %>

                        <h3 style="text-decoration:line-through ; text-align: center"><font
                                    color="black"><%= result[i].prices.split(';')[j] %></font></h3>-><h3
                                style=" text-align: center"><font
                                    color="red"><%= result[i].discount_prices.split(';')[j] %></font></h3>
                        <% } %>
                    </td>
                    <td width="20%">
                        <div class="input-group">
                                <span class="input-group-btn input-number-decrement">
                                <button class="btn btn-default" type="button" onclick="minuspayment(<%=result[i].product_id.split(';')[j].trim()%>)">-</button>
                                </span>
                            <input id="quantity<%=result[i].product_id.split(';')[j].trim()%>" class="center-block form-control booking-item-title quantity_header"
                            value="<%= result[i].quantities.split(';')[j].trim() %>"
                            name = "amount-input"
                                   style="font-weight: bold; font-size: 150%; text-align: center; min-width: 60px;"
                            >
                            <span class="input-group-btn input-number-increment">
                                <button class="btn btn-default" type="button" onclick="pluspayment(<%=result[i].product_id.split(';')[j].trim()%>)">+</button>
                                </span>
                        </div>


                    </td>
                    <td class="text-center" width="20%">
                        <h2 class="currency"><%= result[i].sums.split(';')[j] %></h2>
                        <!-- <input class="booking-item-title"
                               style="text-align: center; background-color: transparent" disabled
                               value=""> -->
                        <span class="glyphicon glyphicon-remove"  onclick="removepayment(<%=result[i].product_id.split(';')[j].trim()%>)">
                      </span>       
                    </td>
                </tr>
                <% } %>
                <!--                     <tr>
                        <td class="text-center"><h4 style="text-align: center;"></h4></td>
                        <td class="text-center"><h4 style="text-align: center;"></h4></td>
                        <td class="text-center"><h4 style="text-align: center;"></h4></td>
                        <td class="text-center"><h4 style="text-align: center;">Tổng Tiền</h4></td>
                        <td class="text-center"><h4 style="text-align: center;"><%= result[i].total %></h4></td>
                    </tr> -->
                </tbody>
                <% } %>
            </table>
        </div>
        <div class="row" style="padding-left: 20px;">
            <div class="col-md-6">
                <div class="row" style="padding-left: 20px;">
                    <div class="col-xs-10 col-md-10">
                        <h4>Phí vận chuyển</h4>
                        <%if(totalAll > setting[0].freeShip){%>
                        <input class="form-control" id = 'shipfee' value = '0' disabled>
                        <%} else {%>
                        <input class="form-control" id = 'shipfee' value = '<%=setting[0].defaultShip%>' disabled>
                        <%}%>
                    </div>
                </div>
                <br>

                <div class="row" style="padding-left: 20px;">
                    <div class="col-xs-10 col-md-10">
                        <h4>Voucher</h4>
                    </div>
                </div>
                <div class="row" style="padding-left: 20px;">
                    <div class="col-xs-10 col-md-10">
                        <input type="text" class="form-control"  id="voucher" placeholder="Mã giảm giá">
                    </div>
                    <div class="col-sm-1">
                        <button class=" btn btn-success" onclick="CheckVoucher()">Áp dụng</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row" style="padding-left: 20px;">
                    <div class="col-xs-4 col-md-4">
                        <h4>Ghi chú</h4>
                    </div>
                </div>
                <div class="row" style="padding-left: 20px;">
                    <div class="col-xs-12 col-md-12">
                        <textarea class="form-control" style="width: 90%; height: 200%;" id="note" name="note"></textarea>
                    </div>
                </div>
            </div>

        </div>



        <br>
        <div class="row">
            <div id="signup" class="modal">
                <div class="container popup animate">
                    <div style="padding-top: 75px;">
                    <span onclick="document.getElementById('signup').style.display='none'" class="close"
                          title="Close Modal">&times;</span>
                        <img src="/img/LOGO.svg" alt="Avatar" class="avatar center-block" style="max-width: 75px">
                        <div class="row" style="text-align: center">
                            <label>
                                Quý vị hãy Đăng kí tài khoản để kết nối lâu dài với chúng tôi nhé!
                            </label>
                        </div>

                    </div>
                    <form class="form-horizontal" role="form" action="/login" method="POST" style="text-align: center">
                        <div class="row">
                            <div class="col-sm-3">
                            </div>
                            <label for="inputEmail3" class="col-sm-2 control-label">Tài khoản:</label>
                            <div class="col-sm-3">
                                <input type="text" placeholder="Enter Username" required  class="form-control" id ="username" value = "" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                            </div>
                            <label for="inputPassword3" class="col-sm-2 control-label">Mật khẩu:</label>
                            <div class="col-sm-3">
                                <input type="password" placeholder="Enter Password" class="form-control" name="passwordpayment" id ="passwordpayment">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                            </div>
                            <label for="inputdob3" class="col-sm-2 control-label">Sinh Ngày:</label>
                            <div class="col-sm-3">
                                <input class="form-control" id = "dobpayment" name="dobpayment" type="date" />
                            </div>

                        </div>

                        <div class="row" >
                            <div class="col-sm-3">
                            </div>
                            <label for="inputgender3" class="col-sm-2 control-label">Giới Tính:</label>
                            <div class="col-sm-3">
                                <select class="form-control" id = "genderpayment" name = "genderpayment">
                                    <option value = "M">Quý Ông</option>
                                    <option value = "F">Quý Bà</option>
                                </select>
                            </div>

                        </div>
                    </form>
                    <!-- <div class="col-md-5">


                    </div>
                    <div class="col-md-4">
                        <br>
                        <button class="btn btn-success" onclick="SignUp()"> Đăng kí tài khoản và mua hàng</button>
                        <br>
                        <button class="btn btn-danger" onclick="Cancel()"> Mua hàng mà không đăng kí tài khoản </button>
                    </div> -->
                    <br>
                    <div class="row">
                        <div class="col-xs-16 col-md-12">
                            <button class="center-block btn btn-success" onclick="SignUp()" style="width: 300px">Đăng kí tài khoản và mua hàng</button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-16 col-md-12">
                            <button class="center-block btn btn-danger" onclick="Cancel()" style="width: 300px">Mua hàng mà không đăng kí tài khoản</button>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="loginPayment" class="modal">
                <div class="container popup animate">
                    <div style="padding-top: 75px;">
                    <span onclick="document.getElementById('id01').style.display='none'" class="close"
                          title="Close Modal">&times;</span>
                        <img src="/img/LOGO.svg" alt="Avatar" class="avatar center-block" style="max-width: 75px">
                        <div class="row" style="text-align: center">
                            <label>
                                Số điện thoại này đã được đăng kí tài khoản.
                                Vui lòng nhập mật khẩu để tiếp tục
                            </label>
                        </div>

                    </div>
                    <form class="form-horizontal" role="form" action="/login" method="POST">
                        <div class="row">
                            <label for="inputEmail3" class="col-sm-2 control-label">Tài khoản:</label>
                            <div class="col-sm-10">
                                <input type="text" placeholder="Enter Username" required  class="form-control" id ="usernameLogin" value = "" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <label for="inputPassword3" class="col-sm-2 control-label">Mật khẩu:</label>
                            <div class="col-sm-10">
                                <input type="password" placeholder="Enter Password" class="form-control" name="passwordpaymentLogin" id ="passwordpaymentLogin">
                            </div>
                        </div>

                    </form>
                    <div class="col-md-5">


                    </div>
                    <div class="col-md-2">
                        <br>
                        <button class="form-control btn-danger" onclick='CloseloginPayment()'> Đóng</button>

                    </div>
                    <div class="col-md-2">
                        <br>
                        <button class="form-control btn-success" onclick="LoginPayment()"> Hoàn tất mua hàng</button>

                    </div>


                </div>
            </div>
        </div>
    </div>
    <input id="ship" style="display: none" value='0'>
    <input id="type" style="display: none" value='0'>
    <div class="row">
        <div class="col-xs-7 col-md-7">

            <div class="row solid-content">
                <h3>Hình thức giao hàng</h3>
                <div class="col-xs-3 col-md-3" id='ghtk' style="display: none;">
                    <a class="thumbnail" >
                        <img onclick="Ship(1)" class="dilivery" src="/img/delivery_form/giaohangtietkiem.png" alt="...">
                    </a>
                </div>
                <div class="col-xs-3 col-md-3" id='ghn' style="display: none;">
                    <a class="thumbnail">
                        <img onclick="Ship(2)" class="dilivery" src="/img/delivery_form/giaohangnhanh.png" alt="...">
                    </a>
                </div>
                <div class="col-xs-3 col-md-3" id='vtp' style="display: none;">
                    <a class="thumbnail">
                        <img onclick="Ship(3)" class="dilivery" src="/img/delivery_form/viettel_post.jpg" alt="...">
                    </a>
                </div>
                <div class="col-xs-3 col-md-3" id='bd' style="display: none;">
                    <a class="thumbnail">
                        <img onclick="Ship(4)" class="dilivery" src="/img/delivery_form/vnpost.png" alt="...">
                    </a>
                </div>
            </div>
            <div class="row solid-content">

                <h3>Hình thức thanh toán</h3>
                <div class="col-xs-3 col-md-3" id="tm" style="display: none;">
                    <a class="thumbnail" onclick="Type(1)">
                        <img class="type-payment" src="/img/payment_method/cash.jpg" alt="...">
                    </a>
                </div>
                <div class="col-xs-3 col-md-3" id="COD" style="display: none;">
                    <a class="thumbnail" onclick="Type(2)">
                        <img class="type-payment" src="/img/payment_method/cod.png" alt="...">
                    </a>
                </div>
                <div class="col-xs-3 col-md-3" id="ck" style="display: none;">
                    <a class="thumbnail" onclick="Type(3)">
                        <img class="type-payment" src="/img/payment_method/transfer.jpg" alt="...">
                    </a>
                </div>
                <div class="col-xs-3 col-md-3" id="ttd" style="display: none;">
                    <a class="thumbnail" onclick="Type(4)">
                        <img class="type-payment" src="/img/payment_method/credit.png" alt="...">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-md-4">
                    <button class="btn btn-danger center-block" type="button"
                            onclick="document.getElementById('id03').style.display='none'">
                        Hủy
                    </button>
                </div>
                <div class="col-xs-4 col-md-4 center-block">
                    <button class="btn btn-info center-block" type="button" onclick="UpdateCart()">
                        Cập Nhật Giỏ
                    </button>
                </div>
                <div class="col-xs-4 col-md-4 center-block">
                    <button onclick="CheckOut()" class="btn btn-success center-block">
                        Thanh Toán
                    </button>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-md-4 solid-content">
            <h2>Thông tin đơn hàng</h2>
            <% if(userdetail != undefined){ %>
            <h3>Tên: </h3><input class="form-control" id="name" value="<%= userdetail[0].firstname %>" disabled>
            <h3>Số điện thoại: </h3><input class="form-control" id="phone" onkeyup="CheckPhone()" value="<%= userdetail[0].phone %>" disabled>
            <h3>Địa Chỉ: </h3><input class="form-control" id="address" value="<%= userdetail[0].address.trim() %>">
            <h3 style="display: none">Email: <%= userdetail[0].email %></h3>
            <% } else { %>
            <h3>Tên: </h3><input class="form-control" id="name">
            <h3>Số điện thoại: </h3><input class="form-control" id="phone" onkeyup="CheckPhone()"> <label id = 'fs'></label>
            <h3>Địa Chỉ: </h3><input class="form-control" id="address">
            <h3 style="display: none">Email: </h3><input style="display: none" class="form-control" id="email">
            <%}%>

            <h3>Tổng giá sản phẩm: </h3>
            <h2 id="totalLabel" class="fa-money currency"><%= totalAll %></h2>
            <h3>Tổng giá đơn hàng: </h3>
            <h2 id="totalship" class="fa-money currency"></h2>
        </div>
    </div>

</div>
<br>
<div class="row">
    <div id="idSuccess" class="modal">
        <div class="container popup animate">
            <div class="row">
                <span onclick="document.getElementById('id03').style.display='none'" class="close"
                      title="Close Modal">&times;</span>
                <img src="/img/LOGO.svg" alt="Avatar" class="avatar center-block" style="max-width: 75px">
            </div>
            <div class="row">
                <h4 class="center" style="max-width: 100%;text-align: center">
                    Liên Hoa Các đã tiếp nhận đơn hàng của bạn. Chúng tôi sẽ xử lý và giao hàng nhanh nhất có thể.
                    Xin trân trọng cảm ơn.
                </h4>
            </div>
            <div class="row" style="text-align: center">
                <div class="col-sm-5"></div>
                <a href="/" class="btn btn-light col-sm-2">
                    <img src="/assets/img/success.jpg" alt="Avatar" class="avatar center-block" style="max-width: 75px">
                    <span><h3>Tiếp Tục Mua Hàng</h3></span>
                </a>
                <div class="col-sm-5"></div>
            </div>
            <!--<div style="padding-top: 75px;">
                <span onclick="document.getElementById('id03').style.display='none'" class="close"
                      title="Close Modal">&times;</span>
                <img src="/img/LOGO.svg" alt="Avatar" class="avatar center-block" style="max-width: 75px">
            </div>-->
            <!--<div style="padding-top: 75px;">

                <h4 class="center" style="max-width: 100%">
                    Liên Hoa Các đã tiếp nhận đơn hàng của bạn. Chúng tôi sẽ xử lý và giao hàng nhanh nhất có thể.
                    Xin trân trọng cảm ơn.
                </h4>
            </div>
            <div style="padding-top: 75px;">
                <a href="/" class="btn btn-success col-sm-2">
                    <img src="/assets/img/success.jpg" alt="Avatar" class="avatar center-block" style="max-width: 75px">
                </a>
            </div>-->

        </div>
    </div>
</div>
</body>
<% include partials/index_Footer.ejs %>
<script>
    var signup = 'N';
    var total = '<%= totalAll %>';
    var ship = document.getElementById('shipfee').value;
    document.getElementById('totalship').innerHTML = parseFloat(total) + parseFloat(ship)

    var transportMethod = "<%=setting[0].transportMethod%>".split(";");
    var paymentMethod = "<%=setting[0].paymentMethod%>".split(";");
    var freeShip = "<%=setting[0].freeShip%>";
    var defaultShip = "<%=setting[0].defaultShip%>";
    for (i=0; i<transportMethod.length; i++){
        if (transportMethod[i] == "ghtk"){
            document.getElementById("ghtk").style.display = "block";
        }
        if (transportMethod[i] == "bd"){
            document.getElementById("bd").style.display = "block";
        }
        if (transportMethod[i] == "vtp"){
            document.getElementById("vtp").style.display = "block";
        }
        if (transportMethod[i] == "ghn"){
            document.getElementById("ghn").style.display = "block";
        }
    }
    for (i=0; i<paymentMethod.length; i++){
        if (paymentMethod[i] == "tm"){
            document.getElementById("tm").style.display = "block";
        }
        if (paymentMethod[i] == "COD"){
            document.getElementById("COD").style.display = "block";
        }
        if (paymentMethod[i] == "ck"){
            document.getElementById("ck").style.display = "block";
        }
        if (paymentMethod[i] == "ttd"){
            document.getElementById("ttd").style.display = "block";
        }
    }

    var type = '';
    var ship = '';

    function Ship(idx) {
        ship = idx;
        document.getElementById("ship").value = idx;
        var dilivery = document.getElementsByClassName("dilivery");
        for (i=0; i<dilivery.length; i++){
            var ind = i+1;
            if (ind==ship){
                dilivery[i].className += " selected";
            } else{
                dilivery[i].className = "dilivery";
            }
        }
    }

    function Type(idx) {
        type = idx;
        document.getElementById("type").value = idx;
        var dilivery = document.getElementsByClassName("type-payment");
        for (i=0; i<dilivery.length; i++){
            var ind = i+1;
            if (ind==type){
                dilivery[i].className += " selected";
            } else{
                dilivery[i].className = "type-payment";
            }
        }
    }
    function CheckPhone() {
        var obj = $("#phone");
        $(".error").remove();
        $.ajax({
            type: "POST",
            url: "/../ajax/checkPhone",
            data: "phone=" + obj.val(),
            success: function (msg) {
                //alert(msg);
                data = msg;
                if (data.status == 'success') {
                    document.getElementById('name').value = data.detail[0].firstname ;
                    document.getElementById('email').value = data.detail[0].email;
                    document.getElementById('address').value = data.detail[0].address;
                    signup  = 'Y'
                } else {
                    document.getElementById('name').value = '';
                    document.getElementById('email').value = '';
                    document.getElementById('address').value = '';
                    signup  = 'N'
                }
            }
        });
    }

    function Cancel(){
        document.getElementById('signup').style.display = 'none';
        SignUp();
    }
    function SignUp(){
        document.getElementById('signup').style.display = 'none';
        var formdata1 = new FormData();
        var sizes = new Array();
        var quantities = new Array();
        /* sizes.push(document.getElementById('prd-id').value);
         quantities.push(parseInt($("#amount").val()));*/

        for(var i = 0 ; i < document.getElementsByName('id-input').length;i++){
            sizes.push(document.getElementsByName('id-input')[i].value);
        }
        for(var i = 0 ; i < document.getElementsByName('amount-input').length;i++){
            quantities.push(document.getElementsByName('amount-input')[i].value);
        }
        formdata1.append('size_id',sizes);
        formdata1.append('quantity',quantities);
        formdata1.append('firstname',$("#name").val());
        formdata1.append('email',$("#email").val());
        formdata1.append('phone',$("#phone").val());
        formdata1.append('address',$("#address").val());
        formdata1.append('voucher',$("#voucher").val());
        formdata1.append('password',$("#passwordpayment").val());
        formdata1.append('dob',$("#dobpayment").val());
        formdata1.append('gender',$("#genderpayment").val());
        formdata1.append('mode','pay');
        formdata1.append('title',$("#title").val());

        $.ajax({
            url: "/../PetMart/signup",
            type: 'POST',
            data: formdata1,
            async: false,
            cache: false,
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: function (response) {
                if(response.code == '200'){
                    $.ajax({
                        url: "/../PetMart/add-to-cart",
                        type: 'POST',
                        dataType : 'JSON',
                        data: JSON.stringify({size_id:sizes,quantity:quantities,userId:response.user_id}),
                        async: false,
                        cache: false,
                        contentType: 'application/json; charset=UTF-8',
                        enctype: 'multipart/form-data',
                        processData: false,
                        success: function (response1) {
                            var formdata = new FormData();
                            formdata.append('ship', ship);
                            formdata.append('type', type);
                            formdata.append('user', response.user_id);
                            if (document.getElementsByClassName('error').length == 0) {
                                formdata.append('voucher', $("#voucher").val());
                            }
                            formdata.append('shipfee', $("#shipfee").val());
                            formdata.append('note', $("#note").val());
                            formdata.append('address', $("#address").val());
                            formdata.append('name', $("#name").val());
                            formdata.append('phone', $("#phone").val());
                            $.ajax({
                                url: '/../PetMart/add-to-payment',
                                type: 'POST',
                                data: formdata,
                                async: false,
                                cache: false,
                                contentType: false,
                                enctype: 'multipart/form-data',
                                processData: false,
                                success: function (response2) {
                                    if (response2.code == '200') {
                                        /*window.location = "/payment-detail?id="+response2.payment_id+"&user="+response.user_id;*/
                                        document.getElementById('idSuccess').style.display = 'block';
                                    }
                                }
                            });
                        }
                    });
                }
            }
        });
    }
    function CheckVoucher() {
        var obj = $("#voucher");
        $(".error").remove();
        $.ajax({
            type: "POST",
            url: "/../PetMart/get-voucher",
            data: "mode=check_email&voucher=" + obj.val() + "&total=<%= totalAll %>",
            success: function (msg) {
                //alert(msg);
                data = msg;
                if (data.code == '404') {
                    obj.after("<label class='error'>Voucher chưa hợp lệ, hoặc giá trị đơn hàng chưa đủ để hưởng khuyến mãi này!</label>");
                    document.getElementById("totalLabel").innerHTML = "<%= totalAll %>";
                    document.getElementById('totalship').innerHTML ="<%= totalAll %>";
                    document.getElementById("shipfee").value = '0';
                    var result = parseFloat('<%=totalAll%>');
                    if(result < parseFloat('<%=setting[0].freeShip%>')){
                        document.getElementById("shipfee").value = '<%=setting[0].defaultShip%>';
                        document.getElementById('totalship').innerHTML = parseFloat(document.getElementById("shipfee").value) + result
                    }
                }
                else {
                    obj.after("<label class='error'>Chúc mừng quý khách đã được nhận ưu đãi <font style='color: red'>"+data.name+" </font></label>");
                    var result = parseFloat('<%=totalAll%>') - parseFloat(data.totalAfter);
                    if(result < parseFloat('<%=setting[0].freeShip%>')){
                        document.getElementById("shipfee").value = '<%=setting[0].defaultShip%>';
                        document.getElementById('totalship').innerHTML = parseFloat(document.getElementById("shipfee").value) + result
                    }
                    document.getElementById("totalLabel").innerHTML = "<label style='text-decoration: line-through'><font color='black'> <%= totalAll %></font></lable><label><font color='red' id = 'total-after-promote'> -> " + result + "</lable>";
                }
            }
        });
    }
    function LoginPayment() {
        $(".error").remove();
        $.ajax({
            url: '/../login?email='+$("#usernameLogin").val()+'&password='+$("#passwordpaymentLogin").val()+"&mode=payment",
            type: 'POST',
            dataType: 'JSON',
            async: false,
            cache: false,
            contentType: 'application/json; charset=UTF-8',
            enctype: 'multipart/form-data',
            processData: false,
            success: function (response) {
                if(response.code == '404'){
                    $("#passwordpaymentLogin").after("<label class='error'>Tài Khoản hoặc Mật Khẩu không đúng</label>");
                } else {
                    $("#passwordpaymentLogin").after("<label class='error'>Đăng Nhập thành công</label>");
                    document.getElementById('signup').style.display = 'none';

                    var sizes = new Array();
                    var quantities = new Array();
                    /* sizes.push(document.getElementById('prd-id').value);
                     quantities.push(parseInt($("#amount").val()));*/

                    for(var i = 0 ; i < document.getElementsByName('id-input').length;i++){
                        sizes.push(document.getElementsByName('id-input')[i].value);
                    }
                    for(var i = 0 ; i < document.getElementsByName('amount-input').length;i++){
                        quantities.push(document.getElementsByName('amount-input')[i].value);
                    }
                    $.ajax({
                        url: "/../ajax/add-to-payment-now",
                        type: 'POST',
                        dataType : 'JSON',
                        data: JSON.stringify({size_id:sizes,quantity:quantities,userId:response.user_id,ship:$("#ship").val(),type:$("#type").val(),shipfee:$("#shipfee").val(),voucher:$("#voucher").val(),note:$("#note").val(),total:'<%=totalAll%>',address: $("#address").val(),name: $("#name").val(),phone: $("#phone").val()}),
                        async: false,
                        cache: false,
                        contentType: 'application/json; charset=UTF-8',
                        enctype: 'multipart/form-data',
                        processData: false,
                        success: function (response1) {
                            if (response1.code == '200') {
                                /*window.location = "/payment-detail?id="+response1.payment_id+"&user="+response1.user_id;*/
                                document.getElementById('idSuccess').style.display = 'block';
                            }
                        }
                    });
                }
            }
        });
    }
    function CheckOut() {
        var flagcheck = "N"
        $(".error").remove();
        <% if(userdetail == undefined){ %>
        if($("#name").val().trim() == ''){
            $("#name").after("<label class='error' style='color: red'>Xin mời nhập tên</label>")
            flagcheck = 'Y';
        }
        if($("#phone").val().trim() == ''){
            $("#phone").after("<label class='error' style='color: red'>Xin mời nhập số điện thoại</label>")
            flagcheck = 'Y';
        }
        if($("#address").val().trim() == ''){
            $("#address").after("<label class='error' style='color: red'>Xin mời nhập địa chỉ</label>")
            flagcheck = 'Y';
        }

        <%}%>
        if(flagcheck == 'Y'){
            return;
        }
        <%if (userdetail == undefined){%>
        if(signup == 'Y'){
            document.getElementById('loginPayment').style.display = 'block';
            document.getElementById('usernameLogin').value = document.getElementById('phone').value;
        } else {
            document.getElementById('signup').style.display = 'block';
        }

        document.getElementById('username').value = document.getElementById('phone').value;
        <%} else {%>
        var pathname = window.location.pathname;
        if(pathname.split('/')[pathname.split('/').length-2] == 'cart'){
            var formdata = new FormData();
            formdata.append('ship', ship);
            formdata.append('type', type);
            if (document.getElementsByClassName('error').length == 0) {
                formdata.append('voucher', $("#voucher").val());
            }
            formdata.append('shipfee', $("#shipfee").val());
            formdata.append('address', $("#address").val());
            formdata.append('note', $("#note").val());
            formdata.append('name', $("#name").val());
            formdata.append('phone', $("#phone").val());
            $.ajax({
                url: '/../PetMart/add-to-payment',
                type: 'POST',
                data: formdata,
                async: false,
                cache: false,
                contentType: false,
                enctype: 'multipart/form-data',
                processData: false,
                success: function (response) {
                    if (response.code == '200') {
                        document.getElementById('idSuccess').style.display = 'block';
                    }
                }
            });
        } else {
            var sizes = new Array();
            var quantities = new Array();
            /* sizes.push(document.getElementById('prd-id').value);
             quantities.push(parseInt($("#amount").val()));*/

            for(var i = 0 ; i < document.getElementsByName('id-input').length;i++){
                sizes.push(document.getElementsByName('id-input')[i].value);
            }
            for(var i = 0 ; i < document.getElementsByName('amount-input').length;i++){
                quantities.push(document.getElementsByName('amount-input')[i].value);
            }
            $.ajax({
                url: "/../ajax/add-to-payment-now",
                type: 'POST',
                dataType : 'JSON',
                data: JSON.stringify({size_id:sizes,quantity:quantities,userId:'<%=userdetail[0].user_id%>',ship:ship,type:type,shipfee:$("#shipfee").val(),voucher:$("#voucher").val(),note: $("#note").val(),address: $("#address").val(),name: $("#name").val(),phone: $("#phone").val()}),
                async: false,
                cache: false,
                contentType: 'application/json; charset=UTF-8',
                enctype: 'multipart/form-data',
                processData: false,
                success: function (response1) {
                    if (response1.code == '200') {
                        window.location = "/payment-detail?id="+response1.payment_id+"&user="+response1.user_id;
                    }
                }
            });
        }

        <%}%>


    }

    function UpdateCart() {

        <%if(muangay == 'Y'){%>
        window.location.href = "/checkout"+"/"+<%=result[0].product_id%> +"/"+document.getElementById('quantity').value
        <% } else {%>
        var formdata1 = new FormData();
        var sizes = new Array();
        var quantities = new Array();
        var input = document.getElementsByClassName('booking-item-title size_id_header');
        <% for (var i = 0; i < result.length; i++) { %>
        <% for (var j = 0; j < result[i].size_ids.split(";").length; j++) { %>
        sizes.push(<%= result[i].size_ids.split(";")[j] %>);
        <% } %>
        <% } %>
        input = document.getElementsByClassName('form-control booking-item-title quantity_header');
        for (var i = 0; i < input.length; i++) {
            quantities.push(input[i].value);
        }
        formdata1.append('size_id', sizes);
        formdata1.append('quantity', quantities);
        $.ajax({
            url: "/../PetMart/update-cart",
            type: 'POST',
            dataType: 'JSON',
            data: JSON.stringify({size_id: sizes, quantity: quantities}),
            async: false,
            cache: false,
            contentType: 'application/json; charset=UTF-8',
            enctype: 'multipart/form-data',
            processData: false,
            success: function (response) {

                document.getElementById('id03').style.display = 'none';
                window.location.reload();
            }
        });
        <%}%>


    }
    function minuspayment(idx){
        var value = $("#quantity"+idx).val();
        value = Number(value) - 1;
        if (value >= 1) {
            document.getElementById('quantity'+idx).value = value;
        }
        UpdateCart()
    }

    function pluspayment(idx){
        var value = $("#quantity"+idx).val();
        value = Number(value) + 1;
        if (value >= 1) {
            document.getElementById('quantity'+idx).value = value;
        }
        UpdateCart()
    }
    function removepayment(idx){
        var formdata1 = new FormData();
        var sizes = new Array();
        var quantities = new Array();
        var input = document.getElementsByClassName('booking-item-title size_id_header');
        sizes.push(idx);
        quantities.push(0);
        formdata1.append('size_id',sizes);
        formdata1.append('quantityCart',quantities);
        $.ajax({
            url: "/PetMart/update-cart",
            type: 'POST',
            dataType : 'JSON',
            data: JSON.stringify({size_id:sizes,quantity:quantities}),
            async: false,
            cache: false,
            contentType: 'application/json; charset=UTF-8',
            enctype: 'multipart/form-data',
            processData: false,
            success: function (response) {

                document.getElementById('id03').style.display='none';
                window.location.reload();
            }
        });
    }
    var currents = document.getElementsByClassName("currency");
                var decimals = 0;               
                for (i=0; i<currents.length; i++){
                    var pnumber = currents[i].innerHTML;
                    if (isNaN(pnumber)) { result = 0};
                    if (pnumber=='') { result = 0};
                    var snum = new String(pnumber);
                    var result = '';
                    j=snum.length-1;
                    dem = 1;
                    while(j>=0){
                        if (dem%4!=0){
                            result = snum[j] + result;
                            j--;
                            dem++;
                        }else{
                            result = '.' + result;
                            dem=1;
                        }                        
                    }
                    if (currents[i].id == "dictprice"){
                        currents[i].innerHTML = result;
                    } else{
                        currents[i].innerHTML = "&nbsp;" +result+ "&nbsp";
                    }
                    
                }
</script>
<script>
    function CloseloginPayment() {
        document.getElementById("loginPayment").style.display = 'none';
    }
    function  CloseSignup() {
        document.getElementById("signup").style.display = 'none';
    }

</script>
</html>