<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<% include partials/index_Header.ejs %>
<body>
<div class="container body-content">
    <div class="row">
        <ol class="breadcrumb">
            <a href="/"><i class="icon fa fa-home"></i> Home</a> / <a href="/maintenance-prd/<%=result[0].catflt%>"><%=result[0].catflt%></a>  / <a href="#">Tạo Sản Phẩm</a>
        </ol>

    </div>
    <div class="row product-info">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-2" style="position: absolute; background-color: #cf69f9;">
                    <h4 style="color: white;">MỚI</h4>
                </div>
                <div class="col-md-4 col-md-offset-2" style="position: absolute; background-color: #69d9f9;">
                    <h4 style="color: white;">FREESHIP</h4>
                </div>
                <div>
                    <% for(i = 0; i < image.length; i++){%>
                        <% for(j = 0;j < image[i].url.split(";").length;j++){ %>
                        <div class="Slide-product fade">
                            <img onclick="zoomImg()"  class="list-image img-responsive" src="/assets/img/<%=image[i].url.split(";")[j]%>" alt="">
                        </div>
                        <% } %>
                    <% } %>
                </div>
                <div style="position: relative;">
                    <% for(i = 0; i < image.length; i++){%>
                        <% for(j = 0;j < image[i].url.split(";").length;j++){ %>
                        <div style="float: left;width: 25%; max-height: 70px; position: relative;">
                            <div style="position: absolute; right: 0px; top: 0px;">
                                <button class="glyphicon glyphicon-remove cursor" onclick="deleteImage('<%=image[i].product_id%>;<%=image[i].url.split(";")[j]%>')" style=""></button>
                            </div>
                            <img  onclick="currentSlide(<%=(j+1)+(i*9)%>)" class="img-responsive cursor item-product-detail" src="/assets/img/<%=image[i].url.split(";")[j]%>" alt="image" style="max-height: 70px;">
                        </div>
                        <% } %>
                    <% } %>
                </div>
            </div>
            <div id="myModal" class="modal">
                <span id="closeImg" class="close">&times;</span>
                <img class="modal-content" id="img01">
            </div>
        </div>
        <div class="col-md-8">
            <div class="ditem">
                <div class="bs-example bs-example-tabs">
                    <!--<ul id="myTab" class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#home" role="tab" data-toggle="tab">Sản Phẩm</a></li>
                        <li class=""><a href="#profile" role="tab" data-toggle="tab">Dịch Vụ</a></li>
                    </ul>-->
                    <div id="myTabContent" class="tab-content">

                        <div class="tab-pane fade active in" id="SanPham">
                            <div class="row">
                                <div class="col-md-8"><h3>Tên Sản Phẩm</h3></div>
                            </div>
                            <div class="row center-block">
                                <input class="col-md-8 form-control" type="text" id="name" onkeyup="CheckPrd()" value="<%=result[0].name%>"></input>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-8"><h3 class="font-mobile">Hợp mệnh</h3></div>
                            </div>
                            <div class="row center-block font-mobile">
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checkmenh" onclick="uncheck('menh')" id="Kim" value="Kim"> Kim
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checkmenh" onclick="uncheck('menh')" id="Mộc" value="Mộc"> Mộc
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checkmenh" onclick="uncheck('menh')" id="Thủy" value="Thủy"> Thủy
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checkmenh"  onclick="uncheck('menh')" id="Hỏa" value="Hỏa"> Hỏa
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checkmenh"  onclick="uncheck('menh')" id="Thổ" value="Thổ"> Thổ
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checkmenh" id="AllMenh" value="All" onclick="selectAll('checkmenh')"> Tất cả các mệnh
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-md-8"><h3 class="font-mobile">Hợp Tuổi</h3></div>
                            </div>
                            <div class="row center-block font-mobile">
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checktuoi"  onclick="uncheck('tuoi')" id="Tý" value="Tý"> Tý
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checktuoi" onclick="uncheck('tuoi')" id="Sửu" value="Sửu"> Sửu
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checktuoi" onclick="uncheck('tuoi')" id="Dần" value="Dần"> Dần
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checktuoi" onclick="uncheck('tuoi')" id="Mẹo" value="Mẹo"> Mẹo
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checktuoi" onclick="uncheck('tuoi')" id="Thình" value="Thình"> Thình
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checktuoi" onclick="uncheck('tuoi')" id="Tỵ" value="Tỵ"> Tỵ
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checktuoi" onclick="uncheck('tuoi')" id="Ngọ" value="Ngọ"> Ngọ
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checktuoi" onclick="uncheck('tuoi')" id="Mùi" value="Mùi"> Mùi
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checktuoi" onclick="uncheck('tuoi')" id="Thân" value="Thân"> Thân
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checktuoi" onclick="uncheck('tuoi')" id="Dậu" value="Dậu"> Dậu
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checktuoi" onclick="uncheck('tuoi')" id="Tuất" value="Tuất"> Tuất
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checktuoi" onclick="uncheck('tuoi')" id="Hợi" value="Hợi"> Hợi
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checktuoi" id="AllTuoi" value="All" onclick="selectAll('checktuoi')"> Tất cả các tuổi
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-md-8"><h3 class="font-mobile">Màu sắc</h3></div>
                            </div>
                            <div class="row center-block font-mobile">
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checkmau" onclick="uncheck('mau')" id="Đỏ" value="Đỏ"> Đỏ
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checkmau" onclick="uncheck('mau')" id="Tím" value="Tím"> Tím
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checkmau" onclick="uncheck('mau')" id="Hồng" value="Hồng"> Hồng
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checkmau" onclick="uncheck('mau')" id="Vàng" value="Vàng"> Vàng
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checkmau" onclick="uncheck('mau')" id="Nâu" value="Nâu"> Nâu
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checkmau" onclick="uncheck('mau')" id="Cam" value="Cam"> Cam
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checkmau" onclick="uncheck('mau')" id="Xám" value="Xám"> Xám
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checkmau" onclick="uncheck('mau')" id="Ánh vàng" value="Ánh vàng"> Ánh vàng
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checkmau" onclick="uncheck('mau')" id="Ánh bạc" value="Ánh bạc"> Ánh bạc
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checkmau" onclick="uncheck('mau')" id="Xanh biển" value="Xanh biển"> Xanh biển
                                </label>

                            </div>
                            <div class="row center-block font-mobile">
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checkmau" onclick="uncheck('mau')" id="Đen" value="Đen"> Đen
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checkmau" onclick="uncheck('mau')" id="Xanh lá" value="Xanh lá"> Xanh lá
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checkmau" onclick="uncheck('mau')" id="Xanh ngọc" value="Xanh ngọc"> Xanh ngọc
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checkmau" onclick="uncheck('mau')" id="Trong suốt" value="Trong suốt"> Trong suốt
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checkmau" onclick="uncheck('mau')" id="Trắng" value="Trắng"> Trắng
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checkmau" id="AllMau" value="All" onclick="selectAll('checkmau')"> Tất cả các màu
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-md-8"><h3 class="font-mobile">Size</h3></div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="row font-mobile">
                                        <label class="col-md-4">
                                            Từ:
                                        </label>
                                        <div class="col-md-8"><input class="form-control" id = "minsize" value = "<%=result[0].sizefrom%>"></div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="row font-mobile">
                                        <label class="col-md-4">
                                            Đến:
                                        </label>
                                        <div class="col-md-8"><input class="form-control" id = "maxsize" value = "<%=result[0].sizeto%>"></div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8"><h3>Phân loại sản phẩm</h3></div>
                            </div>
                            <div class="row center-block">
                                <div class="col-xs-2 col-md-2"><h4 style="text-align: center;">Size</h4></div>
                                <div class="col-xs-2 col-md-2"><h4 style="text-align: center;">Giá</h4></div>
                                <div class="col-xs-2 col-md-2"><h4 style="text-align: center;">Giá sau giảm</h4></div>
                                <div class="col-xs-2 col-md-2"><h4 style="text-align: center;">Tồn kho</h4></div>
                                <div class="col-xs-2 col-md-2"><h4 style="text-align: center;">Thông tin loại hàng</h4></div>
                                <div class="col-xs-2 col-md-2"><h4 style="text-align: center;">Mã Sản Phẩm</h4></div>
                            </div>
                            <%for(var i = 0; i < result.length ; i++){%>
                            <div class="row center-block">

                                <div class="col-xs-2 col-md-2"><input class="form-control oldSize"  value = "<%=result[i].size%>">

                                   </div>

                                <input class="form-control oldId" style = "display:none"  value = "<%=result[i].product_id%>">

                                </input>

                                <div class="col-xs-2 col-md-2"><input class="form-control oldPrice"  value = "<%=result[i].price%>">

                                    </div>
                                <div class="col-xs-2 col-md-2" ><input class="form-control oldDisc"  value = "<%=result[i].disct_price=='null' || result[i].disct_price==null?"0":result[i].disct_price%>">

                                    </div>

                                <div class="col-xs-2 col-md-2"><input class="form-control oldremaining"  value = "<%=result[i].entity%>">

                                    </div>

                                <div  class="col-xs-2 col-md-2"><input class="form-control oldinfor"   value = "<%=result[i].information%>">

                                    </div>

                                <div  class="col-xs-2 col-md-2"><input class="form-control oldCode" id = "Code<%=result[i].product_id%>" onkeyup=CheckCode("<%=result[i].product_id%>")  value = "<%=result[i].code%>">

                                   </div>
                                <div  class="col-xs-1 col-md-1"><button class="glyphicon glyphicon-remove" onclick="deleteSize(<%=result[i].product_id %>)"></button>

                                </div>
                            </div><br>

                            <%}%>
                            <div class="row" id="rowInsertBtn">
                                <div class="col-md-2">
                                    <button class="btn btn-danger" id='insertBtn' onclick='insert()'>+</button>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div  class="col-md-3">
                                    <input class="form-control newImg"  id = "newImg" type = "file" value = "" multiple>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-2">
                                    <button class="btn btn-primary" id = "add" onclick="Add()">Cập Nhật</button>
                                </div>
                                <div class="col-md-2">
                                    <a class="btn btn-primary" href = "/maintenance-prd/<%=result[0].catflt%>" >Hủy</a>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="DichVu">
                            <div class="col-md-8"><h3>Tên Dịch Vụ</h3></div>
                            <div class="row center-block">
                                <div class="col-md-8">
                                    <input class="col-md-8 form-control" type="text" id="nameDV" onkeyup="CheckPrd()" value="<%=result[0].name%>"></input>
                                </div>
                                <div class="col-md-4">
                                    <input class="form-control newImgDv"  id = 'newImgDv' type = 'file' value = '' multiple>
                                </div>
                            </div>
                            <br>
                            <div class="row center-block">
                                <div class="col-md-3">
                                    <input class="form-control" type="text" id="newCodeDV" value="<%=result[0].code%>"></input>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-2">
                                    <button class="btn btn-primary" id = "add" onclick="AddDV()">Cập Nhật</button>
                                </div>
                                <div class="col-md-2">
                                    <a class="btn btn-primary" href = "/" >Cancel</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>

    <br>
    <!--<button  onclick="OpenModal()">
        <i class="fa fa-image" ></i></button>
-->
    <a type="button" onclick="document.getElementById('id02').style.display='block'" style="width:auto;">
        <span class="glyphicon glyphicon-upload"></span>
    </a>

    <button class = "btn btn-primary" id = "xemtruoc"onclick="XemTruoc()">Xem Trước</button>
    <button class = "btn btn-primary" id = "chinhsua" onclick="ChinhSua()" >Chỉnh sửa</button>
    </br>
    <!-- Modal -->
    <div id="id02" class="modal">
        <div class="container popup animate">
            <div style="padding-top: 75px;">
                    <span onclick="document.getElementById('id02').style.display='none'" class="close"
                          title="Close Modal">&times;
                    </span>
                <img src="/img/LOGO.svg" alt="Avatar" class="avatar center-block" style="max-width: 75px">
            </div>
            <form class="form-horizontal" role="form" action="/login" method="POST">
                <div class="">
                    <h4 class="modal-title">Thêm Hình</h4>
                    <input class="form-control newImgModal"  id = 'newImgModal' type = 'file' value = ''>
                </div>
                <br>
                <button class="center-block btn btn-primary" onclick="CloseModal()" data-dismiss="modal" type="button">Ok</button>
            </form>
        </div>
    </div>


    <div id="modalExpired" class="modal-dialog" style="display: none" role="dialog">


        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ngày Hết Hạn Khuyến Mãi</h4>
            </div>
            <div class="modal-body">
                <input class="form-control"  id = 'expiredDate' type = 'date' value = ''>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="CloseModalExpired()" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>

    </div>
    <div class="row product-info center-block">
        <div >
            <!--<textarea style="width: 100%; min-height: 300px;display: none" id="description" name="description"><%=description%></textarea>
            <p id = 'descriptionArea' name = 'descriptionArea' style="display: block">
                <%=description%>
            </p>-->

            <div class = "center">
            <textarea  id="editor">
                <%=description%>
            </textarea >
            </div>
        </div>
    </div>

</div>


</body>
<% include partials/index_Footer.ejs %>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/slimmenu.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/bootstrap-timepicker.js"></script>
<script src="/js/nicescroll.js"></script>
<script src="/js/dropit.js"></script>
<script src="/js/ionrangeslider.js"></script>
<script src="/js/icheck.js"></script>
<script src="/js/fotorama.js"></script>
<script src="/js/typeahead.js"></script>
<script src="/js/card-payment.js"></script>
<script src="/js/magnific.js"></script>
<script src="/js/owl-carousel.js"></script>
<script src="/js/fitvids.js"></script>
<script src="/js/tweet.js"></script>
<script src="/js/countdown.js"></script>
<script src="/js/gridrotator.js"></script>
<script src="/js/custom.js"></script>


<script src="/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace('editor')
</script>
<script>

    <%if(result[0].price == 0
            && result[0].size == 0
            && result[0].information == 0
            && result[0].entity == 0){%>
        document.getElementById('DichVu').style.display = 'block';
        document.getElementById('SanPham').style.display = 'none';
    <%} else {%>
    document.getElementById('DichVu').style.display = 'none';
    document.getElementById('SanPham').style.display = 'block';
    <%}%>

    var  element = '<%=description%>';
    var str  = element.replace(/&#39;/g, "\"").replace(/&lt;/g, "<").replace(/&gt;/g, ">").replace(/&quot;/g,"\"");
    if (document.getElementById('descriptionArea')!=null){
        document.getElementById('descriptionArea').innerHTML = str;


        function XemTruoc() {
            document.getElementById('description').style.display = 'none';
            document.getElementById('descriptionArea').style.display = 'block';
            var  element = document.getElementById('description').value;
            var str  = element.replace(/&#39;/g, "\"").replace(/&lt;/g, "<").replace(/&gt;/g, ">").replace(/&quot;/g,"\"");
            document.getElementById('descriptionArea').innerHTML = str;


        }

        function ChinhSua() {
            document.getElementById('description').style.display = 'block';
            document.getElementById('descriptionArea').style.display = 'none';
            /*document.getElementById('xemtruoc').disabled = true;
            document.getElementById('chinhsua').disabled = false;*/
        }  
    }
    
    function selectAll(name){
        var properties = document.getElementsByClassName(name);
        if (properties[properties.length-1].checked){
            for (i=0; i < properties.length; i++){
                properties[i].checked = true;
            }
        } else {
            for (i=0; i < properties.length; i++){
                properties[i].checked = false;
            }
        }

    }
    function uncheck(idx){
        if(idx == 'menh'){
            document.getElementById('AllMenh').checked = false;
        }
        if(idx == 'tuoi'){
            document.getElementById('AllTuoi').checked = false;
        }
        if(idx == 'mau'){
            document.getElementById('AllMau').checked = false;
        }

    }
</script>
<script>
    var menh = "<%=result[0].menh%>"
    for(var j=0;j<document.getElementsByClassName("checkmenh").length;j++){
        if(menh.includes(document.getElementsByClassName("checkmenh")[j].value)){
            document.getElementsByClassName("checkmenh")[j].checked = true;
        }
    }
    var tuoi = "<%=result[0].tuoi%>"
    for(var j=0;j<document.getElementsByClassName("checktuoi").length;j++){
        if(tuoi.includes(document.getElementsByClassName("checktuoi")[j].value)){
            document.getElementsByClassName("checktuoi")[j].checked = true;
        }
    }
    var mau = "<%=result[0].mau%>"
    for(var j=0;j<document.getElementsByClassName("checkmau").length;j++){
        if(mau.includes(document.getElementsByClassName("checkmau")[j].value)){
            document.getElementsByClassName("checkmau")[j].checked = true;
        }
    }
    function TickMenh(indx){
        menh += indx+";";
    }
    function TickTuoi(indx){
        tuoi += indx+";";
    }
    function TickMau(indx){
        mau += indx+";";
    }
    function CloseModalExpired(){
        document.getElementById('modalExpired').style.display = 'none';
    }

    function CloseModal(){
        var formdata1 = new FormData()
        var input = document.getElementsByClassName("form-control newImgModal")
        for (var i = 0; i < input.length; i++) {
            formdata1.append('images', input[i].files[0]);

        }
        $.ajax({
            url: '../ajax/addProductImages',
            type: 'POST',
            data: formdata1,
            async: false,
            cache: false,
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: function (response) {
                $.ajax({
                    type: "POST",
                    url: "../PetMart/remove",
                    data: "path=" + response.path,
                    success: function (msg) {
                        //alert(msg);
                        data = msg;

                        CKEDITOR.instances.editor.insertHtml("<figure class=\"image image-style-side\"><img src=\"/assets/img/"+response.image+"\">\n" +
                            "\t\t\t\t<figcaption></figcaption>\n" +
                            "\t\t\t</figure>");
                        document.getElementById("id02").style.display = 'none';
                    }
                });

            }
        });

    }

    var count = 1;
    function insert() {
        var element = '<div class="row center-block">\n' +
            '                            \n' +
            '                            <div class="col-xs-2 col-md-2"><input class="form-control" id = \'newSize\' value = \'\'>\n' +
            '\n' +
            '                            </input></div>\n' +
            '\n' +
            '                            <div class="col-xs-2 col-md-2"><input class="form-control" id = \'newPrice\' value = \'\'>\n' +
            '\n' +
            '                            </input></div>\n' +
            '                            <div class="col-xs-2 col-md-2" ><input class="form-control" id = \'newDisc\' value = \'\'>\n' +
            '\n' +
            '                            </input></div>\n' +
            '\n' +
            '                           <div class="col-xs-2 col-md-2"><input class="form-control" id = \'remaining\' value = \'\'>\n' +
            '\n' +
            '                            </input></div>\n' +
            '\n' +
            '                            <div  class="col-xs-2 col-md-2"><input class="form-control"  id = \'infor\' value = \'\'>\n' +
            '\n' +
            '                            </input></div>\n' +
            '\n' +
            '                            <div  class="col-xs-2 col-md-2"><input class="form-control"  id = \'newCode'+count+'\' value = \'\' onkeyup="CheckCodeNew('+count+')">\n' +
            '\n' +
            '                            </input></div>\n' +
            '                        </div><br>';
        $(element).insertBefore($('#rowInsertBtn'));
        count++;
    }

    function Add() {
        var formdata = new FormData();
        if('<%=result[0].name.trim()%>' != $("#name").val().trim()){
            var obj =$("#name");
            $(".error").remove();
            $.ajax({
                type: "POST",
                url: "./ajax/checkProduct",
                data: "mode=check_email&name=" + obj.val(),
                success: function (msg) {
                    //alert(msg);
                    data = msg;
                    if (data.status == 'exist') {
                        obj.after("<label class='error'>Product Name Aleady Exist</label>");
                        document.getElementById('add').style.display = 'none'
                        return;
                    }
                    else {
                        document.getElementById('add').style.display = 'block'
                    }
                }
            });
        }


        var input = document.getElementsByClassName("form-control newImg")
        for (var i = 0; i < input[0].files.length; i++) {
            formdata.append('upfiles', input[0].files[i]);

        }
        var allElements = document.getElementsByTagName("input");
        var sizes = new Array();
        var prices = new Array();
        var disct_prices = new Array();
        var codes = new Array();
        var entities = new Array();
        var infos = new Array();

        var oldsizes = new Array();
        var oldprices = new Array();
        var olddisct_prices = new Array();
        var oldcodes = new Array();
        var oldentities = new Array();
        var oldinfos = new Array();
        var oldids = new Array();

        var description = CKEDITOR.instances.editor.getData();
        formdata.append('description', description);
        var name = document.getElementById("name").value;
        formdata.append('name', name);
        var category = '<%= catId %>';
        formdata.append('category', category);
        for (var i = 0; i < allElements.length; i++) {
            if (allElements[i].id == 'newSize') {
                sizes.push(allElements[i].value);
            }
            if (allElements[i].id == 'newPrice') {
                prices.push(allElements[i].value);
            }
            if (allElements[i].id == 'newDisc') {
                if(allElements[i].value.trim()=='0' || allElements[i].value.trim()==''){
                    disct_prices.push(allElements[i].value);
                }else{
                    if(document.getElementById('expiredDate').value.trim() == ''){
                        document.getElementById('modalExpired').style.display = 'block';
                        return false;
                    }else{
                        disct_prices.push(allElements[i].value);
                    }
                }

            }
            if (allElements[i].id.indexOf('newCode') >-1 ) {
                codes.push(allElements[i].value);
            }
            if (allElements[i].id == 'remaining') {
                entities.push(allElements[i].value);
            }
            if (allElements[i].id == 'infor') {
                infos.push(allElements[i].value);
            }


            if (allElements[i].className == 'form-control oldSize') {
                oldsizes.push(allElements[i].value);
            }
            if (allElements[i].className == 'form-control oldPrice') {
                oldprices.push(allElements[i].value);
            }
            if (allElements[i].className == 'form-control oldDisc') {
                if(allElements[i].value.trim()=='0' || allElements[i].value.trim()==''){
                    olddisct_prices.push(allElements[i].value);
                }else{
                    if(document.getElementById('expiredDate').value.trim() == ''){
                        document.getElementById('modalExpired').style.display = 'block';
                        return false;
                    }else{
                        olddisct_prices.push(allElements[i].value);
                    }
                }

            }
            if (allElements[i].className == 'form-control oldCode') {
                oldcodes.push(allElements[i].value);
            }
            if (allElements[i].className == 'form-control oldremaining') {
                oldentities.push(allElements[i].value);
            }
            if (allElements[i].className == 'form-control oldinfor') {
                oldinfos.push(allElements[i].value);
            }
            if (allElements[i].className == 'form-control oldId') {
                oldids.push(allElements[i].value);
            }
        }
        var expd = '';
        if(disct_prices[0]=='0'){
            expd = '9999-99-99'
        }else{
            expd = document.getElementById('expiredDate').value;
        }
        formdata.append('expired_date', expd.replace(/-/g, ""));
        formdata.append('Sizes', sizes);
        formdata.append('Prices', prices);
        formdata.append('Discounts', disct_prices);
        formdata.append('Codes', codes);
        formdata.append('Entities', entities);
        formdata.append('Infos', infos);

        formdata.append('OldSizes', oldsizes);
        formdata.append('OldPrices', oldprices);
        formdata.append('OldDiscounts', olddisct_prices);
        formdata.append('OldCodes', oldcodes);
        formdata.append('OldEntities', oldentities);
        formdata.append('OldInfos', oldinfos);
        formdata.append('OldIds', oldids);
        var menh = '';
        var tuoi = '';
        var mau = '';
        var menhs = document.getElementsByClassName("checkmenh");
        for (var i = 0; i < menhs.length; i++) {
            if(menhs[i].checked){
                menh +=menhs[i].value +";";
            }
        }
        var tuois = document.getElementsByClassName("checktuoi");
        for (var i = 0; i < tuois.length; i++) {
            if(tuois[i].checked){
                tuoi +=tuois[i].value +";";
            }
        }
        var maus = document.getElementsByClassName("checkmau");
        for (var i = 0; i < maus.length; i++) {
            if(maus[i].checked){
                mau +=maus[i].value +";";
            }
        }
        formdata.append('Menh', menh);
        formdata.append('Tuoi', tuoi);
        formdata.append('Mau', mau);
        formdata.append('SizeFrom', document.getElementById('minsize').value);
        formdata.append('SizeTo', document.getElementById('maxsize').value);
        $.ajax({
            url: '../ajax/updateProduct',
            type: 'POST',
            data: formdata,
            async: false,
            cache: false,
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: function (response) {
                if(response.path.trim()!= ''){
                    $.ajax({
                        type: "POST",
                        url: "../PetMart/remove",
                        data: "path=" + response.path,
                        success: function (msg) {
                            alert('Cập nhật thành công');
                            window.location.href="/edit-product/"+name.replace(/ /g,'-');
                        }
                    });
                } else {
                    alert('Cập nhật thành công');
                    window.location.href="/maintenance-prd/<%=result[0].catflt%>";
                }


            }
        });


        /*$.ajax({
            type: "POST",
            url: "./ajax/addProduct",
            data: "mode=data&Sizes=" + sizes+"&Prices="+prices+"&Discounts="+disct_prices+"&description="+description+"&name="+name+"&category="+category+"&Codes="+codes+"&Images="+images,
            success: function (msg) {
                //alert(msg);
                data = msg;
                $.ajax({
                    type: "POST",
                    url: "./ajax/addProduct",
                    data: "mode=data&Ids="+data.ids+"&Images="+images,
                    success: function (msg) {
                        //alert(msg);
                        data = msg;

                        location.reload();

                    }
                });
                location.reload();

            }
        });*/
    }
    function OpenModal(){
        document.getElementById('myModal').style.display = 'block';
    }
    function AddDV() {
        var formdata = new FormData();

        if('<%=result[0].name.trim()%>' != $("#nameDV").val().trim()){
            var obj =$("#nameDV");
            $(".error").remove();
            $.ajax({
                type: "POST",
                url: "./ajax/checkProduct",
                data: "mode=check_email&name=" + obj.val(),
                success: function (msg) {
                    //alert(msg);
                    data = msg;
                    if (data.status == 'exist') {
                        obj.after("<label class='error'>Product Name Aleady Exist</label>");
                        document.getElementById('add').style.display = 'none'
                        return;
                    }
                    else {
                        document.getElementById('add').style.display = 'block'
                    }
                }
            });

        }

        var input = document.getElementsByClassName("form-control newImgDv")
        for (var i = 0; i < input[0].files.length; i++) {
            formdata.append('upfiles', input[0].files[i]);

        }
        var description = CKEDITOR.instances.editor.getData();
        formdata.append('description', description);
        formdata.append('name', $("#nameDV").val());
        formdata.append('code', $("#newCodeDV").val());
        formdata.append('product_id', '<%=result[0].product_id%>');
        $.ajax({
            url: '../ajax/updateProductDV',
            type: 'POST',
            data: formdata,
            async: false,
            cache: false,
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: function (response) {
                if(response.path.trim()!= ''){
                    $.ajax({
                        type: "POST",
                        url: "../PetMart/remove",
                        data: "path=" + response.path,
                        success: function (msg) {
                            alert('Cập nhật thành công');
                            window.location.href="/edit-product/"+ $("#nameDV").val().replace(/ /g,'-');
                        }
                    });
                } else {
                    alert('Cập nhật thành công');
                    location.reload();
                }


            }
        });


        /*$.ajax({
            type: "POST",
            url: "./ajax/addProduct",
            data: "mode=data&Sizes=" + sizes+"&Prices="+prices+"&Discounts="+disct_prices+"&description="+description+"&name="+name+"&category="+category+"&Codes="+codes+"&Images="+images,
            success: function (msg) {
                //alert(msg);
                data = msg;
                $.ajax({
                    type: "POST",
                    url: "./ajax/addProduct",
                    data: "mode=data&Ids="+data.ids+"&Images="+images,
                    success: function (msg) {
                        //alert(msg);
                        data = msg;

                        location.reload();

                    }
                });
                location.reload();

            }
        });*/
    }
</script>
<script>

    function CheckPrd() {
        var obj =$("#name");
        $(".error").remove();
        $.ajax({
            type: "POST",
            url: "../ajax/checkProduct",
            data: "mode=check_email&name=" + obj.val(),
            success: function (msg) {
                //alert(msg);
                data = msg;
                if (data.status == 'exist') {
                    obj.after("<label class='error'>Product Name Aleady Exist</label>");
                    document.getElementById('add').style.display = 'none'
                }
                else {
                    document.getElementById('add').style.display = 'block'
                }
            }
        });
    }

    function CheckCode(idx) {
        var obj =$("#Code"+idx.trim());
        $(".error").remove();
        if(obj.val().trim() != ''){
            $.ajax({
                type: "POST",
                url: "../ajax/checkCode",
                data: "code=" + obj.val(),
                success: function (msg) {
                    //alert(msg);
                    data = msg;
                    if (data.code == '200') {
                        if(idx != data.detail[0].product_id){
                            obj.after("<label class='error'>Code Tồn Tại</label>");
                            document.getElementById('add').style.display = 'none'
                        }

                    }
                    else {
                        document.getElementById('add').style.display = 'block'
                    }
                }
            });
        }

    }
    function CheckCodeNew(idx) {
        var obj =$("#newCode"+idx);
        $(".error").remove();
        if(obj.val().trim() != ''){
            $.ajax({
                type: "POST",
                url: "../ajax/checkCode",
                data: "code=" + obj.val(),
                success: function (msg) {
                    //alert(msg);
                    data = msg;
                    if (data.code == '200') {
                            obj.after("<label class='error'>Code Tồn Tại</label>");
                            document.getElementById('add').style.display = 'none'
                    }
                    else {
                        document.getElementById('add').style.display = 'block'
                    }
                }
            });
        }

    }
function deleteSize(idx){
    $.ajax({
        type: "GET",
        url: "../deleteSize/"+idx,
        data: "" ,
        success: function (msg) {
            //alert(msg);
            data = msg;
            if (data.code == '500') {
               window.location.reload();
            }
            else {
              location.href = "/maintenance-prd/<%=result[0].catflt.replace(/ /g,'-')%>";
            }
        }
    });
}
function deleteImage(data){
    $.ajax({
        type: "GET",
        url: "../deleteImage/" + data.split(";")[0] + "/" + data.split(";")[1],
        data: "",
        success: function (msg) {
            //alert(msg);
            data = msg;
            if (data.code == '500') {
               window.location.reload();
            }
            else {
              location.href = "/maintenance-prd/<%=result[0].catflt.replace(/ /g,'-')%>";
            }
        }
    });
}
</script>
<!-- image slide -->
<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("Slide-product");
        var dots = document.getElementsByClassName("item-product-detail");
        var captionText = document.getElementById("caption");
        var listImg = document.getElementsByClassName("list-image");

        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
            listImg[i].id = "";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        listImg[slideIndex-1].id = "myImg";
        dots[slideIndex-1].className += " active";
    }
    function zoomImg(){
        var modal = document.getElementById("myModal");
        var img = document.getElementById('myImg');
        var modalImg = document.getElementById("img01");
        /*$(".list-image")*/
        $(".Slide-product").on('click', function (){
            modal.style.display = "block";
            modalImg.src = img.src;
        });
        var span = document.getElementById("closeImg");
        span.onclick = function() {
            modal.style.display = "none";
        }
    }
</script>
</html>