<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<% include partials/index_Header.ejs %>
<body>
<div class="container body-content">
    <div class="row">
        <ol class="breadcrumb">
            <a href="/"><i class="icon fa fa-home"></i> Home</a>
        </ol>

    </div>
    <form action = "/update-promote/<%=result[0].promotion_id%>" method="post" >
        <div class="row product-info">
            <div class="col-md-4">
                <a href="#" class="thumbnail">
                    <img class="img-responsive" src="/assets/img/<%=result[0].image%>" alt="">
                </a>
            </div>
            <div class="col-md-8">
                <div class="row center-block">
                    <div class="col-md-8">
                        <input class="form-control" name = 'title' id = 'title' type = 'text' value = '<%=result[0].title%>'>
                    </div>

                </div>
                <br>
                <div class="row center-block">
                    <div class="col-md-4">
                        <h4>Ngày Hiệu Lực: </h4>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control"  id = 'effdate' name = "effdate" type = 'date' value = '' >
                    </div>
                </div>
                <div class="row center-block">
                    <div class="col-md-4">
                        <h4>Ngày Kết Thúc: </h4>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control"  id = 'expiredDate' name = "expiredDate" type = 'date' value = '' >
                    </div>
                </div>

                <div class="row center-block">
                    <button class = "btn btn-primary" tyle = "submit">Cập Nhật</button>
                </div>
            </div>
        </div>
        <br>
        <%if (type == 1){%>
        <a type="button" onclick="document.getElementById('id02').style.display='block'" style="width:auto;">
            <span class="glyphicon glyphicon-upload"></span>
        </a>

        <%}%>
        <div class="row product-info center-block">
            <div >
                <div class = "center">
                    <textarea  id="editor" name="editor"><%=result[0].description%></textarea >
                </div>
            </div>
        </div>
    </form>

    <!-- Modal -->
    <div id="id02" class="modal">
        <div class="container popup animate">
            <div style="padding-top: 75px;">
                    <span onclick="document.getElementById('id02').style.display='none'" class="close"
                          title="Close Modal">&times;
                    </span>
                <img src="/img/LOGO.svg" alt="Avatar" class="avatar center-block" style="max-width: 75px">
            </div>
            <form class="form-horizontal" role="form" action="/add-promote" method="POST">
                <div class="">
                    <h4 class="modal-title">Thêm Hình</h4>
                    <input class="form-control newImgModal"  id = 'newImgModal' type = 'file' value = ''>
                </div>
                <br>
                <button class="center-block btn btn-primary" onclick="CloseModal()" data-dismiss="modal" type="button">Ok</button>
            </form>
        </div>
    </div>


    <div id="modalExpired" class="modal-dialog" style="display: none" role="dialog">


        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ngày Hết Hạn Khuyến Mãi</h4>
            </div>
            <div class="modal-body">
                <input class="form-control"  id = 'expiredDate' type = 'date' value = ''>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="CloseModalExpired()" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>

    </div>


</div>


</body>
<% include partials/index_Footer.ejs %>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/slimmenu.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/bootstrap-timepicker.js"></script>
<script src="/js/nicescroll.js"></script>
<script src="/js/dropit.js"></script>
<script src="/js/ionrangeslider.js"></script>
<script src="/js/icheck.js"></script>
<script src="/js/fotorama.js"></script>
<script src="/js/typeahead.js"></script>
<script src="/js/card-payment.js"></script>
<script src="/js/magnific.js"></script>
<script src="/js/owl-carousel.js"></script>
<script src="/js/fitvids.js"></script>
<script src="/js/tweet.js"></script>
<script src="/js/countdown.js"></script>
<script src="/js/gridrotator.js"></script>
<script src="/js/custom.js"></script>
<script src="/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace('editor')
</script>
<script>
    function CloseModal(){
        var formdata1 = new FormData()
        var input = document.getElementsByClassName("form-control newImgModal")
        for (var i = 0; i < input.length; i++) {
            formdata1.append('images', input[i].files[0]);

        }
        $.ajax({
            url: '../ajax/addProductImages',
            type: 'POST',
            data: formdata1,
            async: false,
            cache: false,
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: function (response) {
                $.ajax({
                    type: "POST",
                    url: "../PetMart/remove",
                    data: "path=" + response.path,
                    success: function (msg) {
                        //alert(msg);
                        CKEDITOR.instances.editor.insertHtml("<figure class=\"image image-style-side\"><img src=\"/assets/img/"+response.image+"\">\n" +
                            "\t\t\t\t<figcaption></figcaption>\n" +
                            "\t\t\t</figure>");
                        document.getElementById("id02").style.display = 'none';

                    }
                });

            }
        });

    }

</script>
<script>


    var effdate = '<%=result[0].effective_date%>';
    var newEffdate = effdate.split('/')[2]+'-'+effdate.split('/')[1] +'-'+effdate.split('/')[0];
    document.getElementById('effdate').value = newEffdate;
    var expired = '<%=result[0].expired_date%>';
    var newExpired =expired.split('/')[2]+'-'+expired.split('/')[1] +'-'+expired.split('/')[0];
    document.getElementById('expiredDate').value = newExpired;

    var  element = '<%=result[0].description%>';
    var str  = element.replace(/&#39;/g, "\"").replace(/&lt;/g, "<").replace(/&gt;/g, ">").replace(/&quot;/g,"\"");
    document.getElementById('descriptionArea').innerHTML = str;

    function XemTruoc() {
        document.getElementById('description').style.display = 'none';
        document.getElementById('descriptionArea').style.display = 'block';
        var  element = document.getElementById('description').value;
        var str  = element.replace(/&#39;/g, "\"").replace(/&lt;/g, "<").replace(/&gt;/g, ">").replace(/&quot;/g,"\"");
        document.getElementById('descriptionArea').innerHTML = str;


    }

    function ChinhSua() {
        document.getElementById('description').style.display = 'block';
        document.getElementById('descriptionArea').style.display = 'none';
        /*document.getElementById('xemtruoc').disabled = true;
        document.getElementById('chinhsua').disabled = false;*/
    }
</script>
</html>
